[2015-12-26 17:34] rye commented on #47295
I had been using `--HEAD` since I didn't know there was a newer version. (I didn't know that `--devel` had been introduced) Did the Emacs branching scheme change recently? Regardless, it works now.

[2015-12-26 17:39] dunn commented on #47295
Yeah, Emacs 25 went into feature-freeze and they started a new branch to polish it up for release, so that's where most development is happening.  Changes were supposed to be merged regularly back into master but it hasn't been happening and the situation is getting a little dire: https://lists.gnu.org/archive/html/emacs-devel/2015-12/msg01219.html

[2015-12-26 17:49] dunn commented on #47295
It's a confusing situation but apart from changing the `head` URL to be the same as `devel` I'm not sure if there's much we can do on our end; and I'd rather not do even that since we might forget to switch back after 25 is released.

[2015-12-26 17:49] #47295 closed

[2015-12-26 18:07] jedahan opened #47393 "Add brew (un)install --save"
Would there be interest in adding a **--save** option to `brew install` and `brew uninstall`?

It would save to **$HOMEBREW_BREWFILE**, which would default to **$HOMEBREW_PREFIX/Brewfile**

[2015-12-26 19:21] mikemcquaid commented on #47393
I don't think so, sorry. This is better living in `brew bundle` itself.

[2015-12-26 19:21] #47393 closed

[2015-12-26 19:37] kauder commented on #31817
Hello, it's me again..

I got PyCAM to work last time, but through all of it I had destroyed a lot of stuff in my OS, so a reformat was in order. This was a while ago and I haven't had any chance of doing anything with my CNC.

Now it is however up and running, finely tuned to 0.1mm precision through Universal Gcode Sender and GRBL.

But PyCAM crashes when I try to run it:

[code]

Help would once

[2015-12-26 19:47] kauder commented on #31817
https://gist.github.com/kauder/d62bdba1d005c6d7f251

[2015-12-26 20:18] gvn commented on #46267
I don't think this is a problem with `abcde`.

I can fix this by running `brew uninstall cd-discid` after `brew install abcde` and then manually building `cd-discid` from the [latest source](https://github.com/taem/cd-discid).

Basically I think `cd-discid` just needs to be updated in Homebrew and then everything should work...

[2015-12-26 20:28] kauder commented on #31817
Keep forgetting to reboot on a Mac. It now outputs the same python-gtkglext1-problem:

[code]

[2015-12-26 20:41] apjanke commented on #46267
Right; the recent [change to the `cd-discid` formula](3cc4985cabe0ecc7594c42e2e001094086b740d8) was to pick up the relevant patch from upstream.

Ah, I think I know what I did wrong: I didn't bump the revision number in the `cd-discid` formula, so people who already have it installed won't actually pick up the patch, and the bottles may not have been rebuilt with the change. Don't know how I overl

[2015-12-27 04:35] tdsmith commented on #34162
This is technically a re-appearance of this issue from a different cause, but let's handle it here.

This is one way to expose the error:

[code]

The value of PYTHONPATH is taken from `cat $(which duplicity)`.

[2015-12-27 05:55] tdsmith commented on #47359
Are you sure it's repeating the same messages? It is normal that boost takes quite a while to build (30 minutes or more).

[2015-12-27 05:57] tdsmith commented on #47258
`cryptography` should be restored.

[2015-12-27 05:59] tdsmith commented on #47258
(along with `enum34` and `cffi`)

[2015-12-27 06:00] tdsmith commented on #47210
You should install the Xcode command-line tools with `xcode-select --install` to receive bottles for those packages.

[2015-12-27 06:02] tdsmith commented on #46994
This seems like a good norm to me.

[2015-12-27 06:03] tdsmith commented on #46927
Okay, great. Thanks for reporting! Let us know if we can help with anything or if just closing this ticket was not the action you expected.

[2015-12-27 06:03] #46927 closed

[2015-12-27 06:04] tdsmith commented on #46991
Please let us know if we can help with anything.

[2015-12-27 06:04] #46991 closed

[2015-12-27 06:20] dankegel commented on #46927
Heh.  I'm not convinced it works, even with the workaround, but have been too lazy to file a new ticket.  I'll try to get to it this week.  Thanks...

[2015-12-27 08:57] maxpsq opened #47414 "Solr 5.4.0 bin/post utility not running due to invalid classpath"
I tried to run the bin/post utility and I found out there's a hardcoded classpath $SOLR_HOME/dist/solr-core-*.jar in it (see $SOLR_TIP and $TOOL_JAR in post) that's not compliant with the jar location for this formula $SOLR_HOME/libexec/dist/.

Here's what I get
post -c geonames -params "separator=%09" -type text/csv allCountries.txt

/Library/Java/JavaVirtualMachines/jdk1.8.0_45.jdk/Contents/Home

[2015-12-27 10:09] ciarant commented on #47414
You're correct - apologies, I should have made a note of that. I'll see if I can tweak the formula so that it corrects the path in bin/post.

[2015-12-27 10:53] rakkesh opened #47417 "FreeSWITCH 1.6.5: dylib paths are not fixed after installation"
~~As per the website, https://freeswitch.org/the-freeswitch-1-4-26-release-is-here, it is recommended to upgrade to version `1.6`.~~
~~`“The FreeSWITCH 1.4 branch is reaching end of life and the FreeSWITCH Team highly recommends beginning your migration to the 1.6 branch.”`~~

~~Also, there are exciting new features, such as video, webrtc, and etc in 1.6 release.~~

I have an updated formula for t

[2015-12-27 12:26] inglesp commented on #37591
Given that there are separate brew formulae for qt4 and qt5, and that somebody might want to build qscintilla2 against both qt4 and qt5, I think I'm going to need to produce a new formula for building qscintilla2 against qt5, instead of modifying the existing qscintilla2 formula (which currently builds against qt4).

Two questions:
1) is that a correct assumption?
2) what should I call the new for

[2015-12-27 13:51] iBobik opened #47419 "How to make automatic updates from Github releases"
I am going to publish my first formula and I am not sure how to handle updates.

It seems most of formulaes there refers to a specific archive with a version, so when there is new release, somebody have to change version manually, haven't they?

How to configure formula to always refer to latest Github release (version and artifact)?

[2015-12-27 14:05] ciarant commented on #47414
New PR submitted 47420

[2015-12-27 14:12] imrook commented on #47244
I should have noted that a previous build had failed as well with issues reported by `brew doctor`. I corrected the issues, did a `brew rm ghc` and rebuilt, then got the above failure. I found https://github.com/Homebrew/homebrew/issues/12155 and 2bits's suggestion to do the following:
[code]

After running all of the above commands ghc built successfully. I'm therefore closing this issue.

[2015-12-27 15:11] maxpsq commented on #47414
Well, done! It works now. Thanks

[2015-12-27 15:11] #47414 closed

[2015-12-27 15:33] dunn commented on #47419
We specifically don't allow that, since we want to be able to ensure the integrity of the release using SHA256 and also test each update to make sure it works and doesn't break other software that depends on it.

[2015-12-27 15:46] dunn commented on #37591
I'd much rather have it stay in one formula.  What are the problems you came across that would be solved by a `qscintilla2-qt5` formula?

[2015-12-27 15:47] inglesp commented on #37591
I had thought (and maybe I'm wrong) that you can't install the same formula multiple times, which would prevent you from building qscintilla2 against qt4 and qt5.  Is that correct?

[2015-12-27 15:50] mikemcquaid commented on #37591
That's true. Why would you want to do that?

[2015-12-27 15:50] iBobik commented on #47419
Wow, and you are able to do it manually for all 3 thousands formulaes?

Jan Pobořil

2015-12-27 16:33 GMT+01:00 Alex Dunn <notifications@github.com>:

[2015-12-27 15:52] inglesp commented on #37591
You'd want to do it for the same reason that you'd want qt4 and qt5: some applications depend on qt4, and others depend on qt5.

[2015-12-27 16:01] mikemcquaid commented on #37591
Do you personally need it for both at once?

[2015-12-27 16:03] dunn commented on #47419
We have a great community of contributors who help!

[2015-12-27 16:05] inglesp commented on #37591
No, I don't.

[2015-12-27 16:11] #47419 closed

[2015-12-27 16:47] mikemcquaid commented on #37591
I think it's worth just leaving it in the same formula until there's a few folks that need that.

[2015-12-27 17:29] #34162 closed

[2015-12-27 17:29] #42512 closed

[2015-12-27 17:29] #45923 closed

[2015-12-27 17:32] rakkesh commented on #47417
I apologise, after further looking into this, it became clear that there is no issue with Homebrew but with the way this library is built.

[2015-12-27 17:32] #47417 closed

[2015-12-27 17:41] tdsmith commented on #47366
I think Dominyk is right. Please let us know if we can help with anything. The output of `brew gist-logs libxml2` after installing the unmodified Homebrew formula will be helpful if this does not appear resolved to you.

[2015-12-27 17:41] #47366 closed

[2015-12-27 17:44] tdsmith commented on #47373
I see:

[code]

so it's not chained to the G1 root. Are you still seeing this issue?

[2015-12-27 18:52] tdsmith commented on #46353
Please let us know if we can help with anything.

[2015-12-27 18:52] #46353 closed

[2015-12-27 20:06] kaazoo opened #47428 "allow 'with-win64' option for 64 bit wine builds"
http://reviews.llvm.org/D1623 seems to be fixed as of Sep 17 2015, so 64 bit builds of wine might work again?

[2015-12-27 20:11] #47258 closed

[2015-12-27 20:12] von commented on #46267
Still no luck. I did get an updated bottle, but the resulting binary is still broken.

[code]

[2015-12-27 20:16] tdsmith commented on #46354
It looks like we distribute ansible with passlib. Please note that passlib must be installed on the target machine as well. Let me know if you have any questions and we can reopen this. Thanks!

[2015-12-27 20:16] #46354 closed

[2015-12-27 20:20] apjanke commented on #46267
Arg. Okay, I'll do some more testing here and see if I can figure it out.

[2015-12-27 20:49] mikemcquaid commented on #47428
Could you verify it yourself and create a pull request if it's desired?

[2015-12-27 21:21] mcandre opened #47433 "algol68g download URL broken"
Trace:

[code]

[2015-12-27 21:25] DomT4 commented on #47433
Looks like upstream moved homepage to http://jmvdveer.home.xs4all.nl/algol.html stuck a redirect in place but didn't do the same for the URL, which is also outdated.

Formula should be:
[code]

With the new `sha256` for the version update where the empty commas are there.

Submit a PR if you like, otherwise I'll get round to it at some point in the next 24 hours.

[2015-12-27 21:35] tdsmith commented on #46544
I think there isn't a Homebrew bug here and I've explained a workaround. Let us know if we can help with anything.

[2015-12-27 21:35] #46544 closed

[2015-12-27 22:14] gvn commented on #46267
I just got this working via `brew uninstall --force cd-discid && brew install cd-discid --HEAD`.

[2015-12-27 22:18] inglesp commented on #37591
I'm happy to go with whatever the maintainers decide, but I'd like to argue that we go beyond YAGNI in this particular case, for a handful of reasons:

 * A quick straw poll on IRC suggests it's not that unusual for people to be developing different projects with both qt4 and qt5, so even though I don't need qscintilla2 for both now, it's not unreasonable to imagine that I might in the future.  (E

[2015-12-27 23:27] danielcompton opened #47435 "brew doctor doesn't check permissions for /Library/Caches/Homebrew"
I created a new user account on my computer and removed my old Homebrew installation with the uninstaller script. I then tried to setup Homebrew on my new account. However I was getting install errors:

[code]

When I ran `brew doctor` no problems were reported. However running

[code]

let me install to Homebrew afterwards.

It seems like there might be two issues here:

- The uninstall script do

[2015-12-27 23:54] tugdualenligne commented on #46267
With the command suggested by gvn, it does work for me now. Thanks guys!

[2015-12-28 01:00] #46566 closed

[2015-12-28 02:35] paulhybryant opened #47439 "ruby failed to install with permission error"
gist-logs
https://gist.github.com/anonymous/78079f2adc94030e3d32

The error is because it is trying to install the common headers to a wrong location

Last 15 lines from /Users/yuhuang/Library/Logs/Homebrew/ruby/03.make:
installing common headers:    /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.11.sdk/Users/yuhuang/.homebrew/Cellar/ruby/2.3.0/include

[2015-12-28 02:44] von commented on #46267
I agreed gvn's command works. It appears to be the ``--HEAD`` that does it. If I leave that off, I see the negative offsets.

[2015-12-28 02:58] gvn commented on #46267
I should probably mention that my method is a workaround that forces using the absolute latest code for `cd-discid`. This could break if commits are added after [this one](https://github.com/taem/cd-discid/commit/175ed0138c3985e2601cabeaf26b22ec72beaee0).

Ideally the `--HEAD` flag shouldn't be needed...

[2015-12-28 04:18] imrook commented on #47244
Doh! While ghc did build and install successfully, cabal-install didn't. I'm still having the same problem as reported, reopening.

[2015-12-28 06:03] imrook commented on #47244
I attempted to bypass the doc building by passing the `--no-doc` switch to bootstrap.sh using the following patch:
[code]
The build gets further, but fails due to a segfault building network:
https://gist.github.com/8eae1cd16c6f6f716616

[2015-12-28 08:33] mikemcquaid commented on #37591
That's classic YAGNI, I'm afraid. Particularly when it's easy to change our minds in the future: let's not overengineer now.

Nope, we could stop supporting one in future or switch defaults if we ever remove Qt4.

However, they are the same upstream software source built with different options, right? That argues pretty strongly for a single formula, if it's true.

Maintainers who care (e.g. me) e

[2015-12-28 11:22] naffan2014 opened #47448 "brew php70-redis in only-head formula"
why i type "brew install php70-redis"
and he told me
"Error: homebrew/php/php70-redis is a head-only formula
Install with `brew install --HEAD homebrew/php/php70-redis`"

what is this mean?

and when i type brew install --HEAD homebrew/php/php70-redis ,he gave me a fatal error

==> Installing php70-redis from homebrew/php
==> Cloning https://github.com/phpredis/phpredis.git
Updating /Library/Cache

[2015-12-28 11:28] hermo commented on #45166
I had the same problem. Installing CLT fixed the issue.

[2015-12-28 11:40] bfontaine commented on #47448
Please read the link in the error message and follow what it says:

This means the formula doesn’t provide any stable release. Using `--HEAD` you can install from the `HEAD` of the formula, which is usually unstable.

[2015-12-28 11:41] bfontaine commented on #47448
This issue was moved to Homebrew/homebrew-php#2705

[2015-12-28 11:41] #47448 closed

[2015-12-28 11:50] sglaser opened #47449 "brew install node followed by npm install -g browserify doesn't create /usr/local/bin/browserify"
If I install node using the current homebrew formula on osx el capitan, it correctly installs node v5.3.0.

If I then try to install the browserify node package using `sudo npm install -g browserify` the package installs correctly but there is nothing left in `/usr/local/bin/browserify`

If I install node using the package from nodejs.org and then install browserify using npm, this works properly.

[2015-12-28 11:52] mpdehnel opened #47450 "/usr/local/... permissions resetting regularly"
At unspecified periods of time (certainly no longer than every couple of days), without rebooting, the permissions for the folders within `/usr/local/ that homebrew` uses (e.g. `bin`, `share`, `man`) have their permissions reset to being un-writeable by homebrew. I am not changing these, and it's rather frustrating getting a bunch of error messages every time I want to install something in homebre

[2015-12-28 12:10] mpdehnel commented on #47450
Ok, having looked a bit further I've found a post suggesting it's caused by Sophos Antivirus, which has been fixed in a more recent version of SAV. My department hasn't yet pushed out the update to us...

https://community.sophos.com/products/free-antivirus-tools-for-desktops/f/17/t/10029

[2015-12-28 12:10] #47450 closed

[2015-12-28 12:35] gondo opened #47455 "tika upgrade error"
==> Upgrading tika
==> Downloading https://www.apache.org/dyn/closer.cgi?path=tika/tika-app-1.11.jar
Error: Failed to download resource "tika"
Download failed: Couldn't determine mirror, try again later.

[2015-12-28 12:38] bfontaine commented on #47449
Using Node from Homebrew and `npm install -g browserify` (note I don’t use `sudo`) I get `browserify` as expected:
[code]

[2015-12-28 12:42] nicexe opened #47456 "ffmpeg failed to build on 10.10"
Dependencies are all present yet it fails to build.
logs: https://gist.github.com/nicexe/1353743cffa4066d6e8f

[2015-12-28 12:50] bfontaine commented on #47456
What’s the error? I don’t see it in the logs.

[2015-12-28 12:51] bfontaine commented on #47455
It probably depends on your location; it works for me:
[code]

[2015-12-28 12:52] gondo commented on #47455
how can i check and change my location?

[2015-12-28 13:14] AntonioMeireles commented on #45657
similar issue hit and workarounded in #47405. quoting from there (per @mikemcquaid [request] (https://github.com/Homebrew/homebrew/pull/47405#discussion_r48477728)) here as this looks the proper place to discuss this.

FWIW also workarounded (by running away from `godep`) in #43073 and in [nomad](https://github.com/Homebrew/homebrew/blob/master/Library/Formula/nomad.rb) formula.

[2015-12-28 13:28] skinkie commented on #46566
@mistydemeo leads to:
[code]

[2015-12-28 13:50] mikemcquaid commented on #45657
Thanks @AntonioMeireles!

[2015-12-28 13:50] mikemcquaid commented on #45657
Looks like the `-gdwarf-2` is the problematic bit.

[2015-12-28 14:57] erikthered commented on #41489
I am also seeing this with 3.5.12

[2015-12-28 15:36] nicexe commented on #47456
I am sorry. I was having problems with mplayer but I somehow had ffmpeg in my mind. I'll go ahead and create a new issue for mplayer.

[2015-12-28 15:36] #47456 closed

[2015-12-28 17:24] RandomDSdevel commented on #43335
@aw1621107…
…on unexpected behavior:  Yeah, it _can_ be…but then there are the _really_ big cases that _aren't_ fun, right?

…on the issue's scope:  You're very welcome; I just thought I'd point out whatever needed covering.

[2015-12-28 17:27] dunn commented on #46566
@skinkie Can you open a new issue and post `brew gist-logs pod2man`? Thanks!

[2015-12-28 17:27] #43924 closed

[2015-12-28 17:31] DomT4 commented on #47439
Heh, I've seen this reported in a bunch of places already. It is believed to be a Ruby problem, rather than anything specific to the way we or anyone else packages it. `rbenv` had the same issue reported a couple days back: https://github.com/rbenv/rbenv/issues/844

I'll peek upstream and see if it's on the Ruby bugtracker yet.

[2015-12-28 17:42] RandomDSdevel commented on #47269
@aw1621107:

OK, cool.

Sounds good to me.

That's fine for `Release` builds, but what about for `Debug` builds if Homebrew ends up supporting those?  And there might also be `RelWithDebInfo` to consider as well if we decide 'yes' on the latter point…

Ah, I see; that sounds messy!

I _thought_ those options might be good to have!

Oh?  How so?
<hr />
@DomT4:

Perhaps I should leave this to you pr

[2015-12-28 17:55] smarek commented on #46119
Ok, so I've did the test.

Step-by-step:
  1. `brew uninstall gs`
  2. Revert `ghostscript.rb` formula file to f86d0f1c7a5c61c5be47b2d2a2ff30a1bce0e8a5
  3. `brew install ghostscript`
  4. Revert `ghostscript.rb` formula file to 9227890cfbbf83ebcb3df59cd95086309b422f4f
  5. `set HOMEBREW_MAKE_JOBS 1; brew upgrade ghostscript`

Eventually I tried also doing the step 5 without `HOMEBREW_MAKE_JOBS=1`

[2015-12-28 17:55] #46119 closed

[2015-12-28 17:56] DomT4 commented on #47455
No problems here. Anything flagged by `brew doctor` or are you operating behind a proxy or anything similar?

[2015-12-28 18:01] mcandre opened #47462 "Merge multiple "Warning: <directory> isn't writable." warnings into single "<parent> isn't writable." warning"
Please merge multiple `Warning: <directory> isn't writable.` warnings into single `<parent> isn't writable.` warning, and recommend that users `sudo chown -R $(whoami) <parent>`, to make it easier and faster for users to repair their brew environment.

[2015-12-28 18:08] spkane opened #47463 "lldpd improvements"
The lldpd formula should ensure that /usr/local/var/run exists, as it needs it by default.

It would also be good to include a default config at /usr/local/etc/lldpd.conf, if possible. Or at least output a message saying that this needs to be created.

[2015-12-28 18:45] skinkie opened #47464 "pod2man install issue on 10.6"
As follow up of #46566

https://gist.github.com/anonymous/52ea640338d2ba87dd6d

[code]

[2015-12-28 18:58] hi-q commented on #41489
Same issue

[2015-12-28 19:00] jmdilley opened #47465 "subversion 1.9.2 install fails due to 404. Can the formula be updated to use 1.9.3?"
Homebrew's formula for subversion is set to use 1.9.2, which for some reason isn't available on Apache's site (they go from 1.9.1 to 1.9.3).

Since 1.9.3 is out, anyway, would it be possible to get the formula updated to use 1.9.3 of subversion?  I did so locally, by editing the .rb file to the new version and sha256, but I don't know what all normally goes into this, i.e. are there any dependency

[2015-12-28 19:02] dunn commented on #47463
We'd love a pull request! Take a look at https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-To-Open-a-Homebrew-Pull-Request-(and-get-it-merged).md and let us know if you have questions :ok_woman:

[2015-12-28 19:06] bfontaine commented on #47462
Want to try a pull-request? This should help and I’m happy to answer any question: https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-To-Open-a-Homebrew-Pull-Request-(and-get-it-merged).md

[2015-12-28 19:09] vincentbernat commented on #47463
For `/usr/local/var/run`, if it doesn't exist by default, maybe this is not the right place. Where do other daemons place their runtime files?

As for `/usr/local/etc/lldpd.conf`, it is quite optional. No need to create it.

[2015-12-28 19:14] DomT4 commented on #47439
Has been reported upstream: https://bugs.ruby-lang.org/issues/11881

I can't reproduce locally. It installs in the right place. Mildly frustrating because without being able to reproduce it's difficult to test potential fixes. Do you have `SDK` variables set in your `env`?

[2015-12-28 19:17] DomT4 commented on #47449
Same result here as @bfontaine.
[code]
And so on.

[2015-12-28 19:19] DomT4 commented on #47463
Doesn't exist by default, but plenty of formulae create it which you can do with:
[code]
In the formula file.

[2015-12-28 19:20] DomT4 commented on #47462
We've been working on ditching the entire warning framework there in favour of a unified internal command: #45934.

I'm not sure it's worth making changes prior to that, but feel free to file a PR as Baptiste advises and we'll review it.

[2015-12-28 19:21] mistydemeo commented on #47439
@DomT4 We export SDKROOT on Xcode-only configurations.

[2015-12-28 19:23] DomT4 commented on #47439
@mistydemeo Ah, I knew that but didn't notice OP here was running an Xcode-only system. Doh. Can we unset `SDKROOT` in the formula without breaking it as a workaround for the upstream issue?

[2015-12-28 19:24] mistydemeo commented on #47464
Looks like the manpages didn't get installed, so trying to move them is failing.

[2015-12-28 19:27] vincentbernat commented on #47463
@spkane do you want to do the PR or should I do it?

[2015-12-28 19:30] mistydemeo commented on #47464
Should be fixed by bc09f92e42426acfd80f8d2619444d05fcac209c.

[2015-12-28 19:31] #47464 closed

[2015-12-28 19:35] DomT4 commented on #47465
Since it's a minor version bump you should be okay with only updating the url/sha256 of the `subversion` formula itself. [File a PR](https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-To-Open-a-Homebrew-Pull-Request-(and-get-it-merged).md) to handle the update here, if you'd like to.

[2015-12-28 19:41] jveitchmichaelis commented on #40762
The issue with `apple-gcc42` still seems to be the problem, my config is:

[code]
Uninstalling `apple-gcc42` solved the problem when I got the version error trying to update `gnuplot`.

[2015-12-28 19:46] mistydemeo commented on #47439
It looks like the upstream commit that caused that is quite small; we could probably just include a patch to remove it until it gets fixed?

[2015-12-28 19:56] ssoto commented on #35691
:+1:  I fixed it updating XCode version

[2015-12-28 21:00] sglaser commented on #47449
I'll try it again later today.

My version of npm was installing everything into something like /usr/local/lib/Cellar/node*/node_modules

Not sure why and I'm not at the computer right now.

Steveg

[2015-12-28 21:32] #46763 closed

[2015-12-28 21:32] skinkie commented on #46566
While the installation of pod2man seems successful now, thanks @mistydemeo

The installation of wget seems to hang on some make install-recursive. I notice that pod2man from /usr/bin is invoked, while it might been expected that the Cellar one was picked. Anything I can do to show some compile logs?

[2015-12-28 23:10] spkane commented on #47463
@vincentbernat I'll go ahead and create a PR for it.

[2015-12-28 23:17] spkane commented on #47463
Done: https://github.com/Homebrew/homebrew/pull/47470

[2015-12-28 23:18] mistydemeo commented on #47439
Should be fixed now.

[2015-12-28 23:19] #47439 closed

[2015-12-29 04:11] coltonTB commented on #46957
Seeing the same thing here. Hoping for a fix soon!

[2015-12-29 05:48] madcarrot commented on #47359
@bfontaine Thanks for replying! I did try without `build-from-source` but the same message still appears... :S

[2015-12-29 05:50] madcarrot commented on #47359
@tdsmith Thanks for replying!

The only thing that changes in these messages are the numbers in

    <scratch space>:6:1: note: expanded from here
    boost_static_assert_typedef_508

And the other parts stayed the same.

I knew something went wrong because it worked before I did something else wrong and reinstalled the OS :S

[2015-12-29 08:10] #47149 closed

[2015-12-29 08:11] clayshieh commented on #47465
I ran into the same problems while using linuxbrew and changed the download urls and SHA256 accordingly but I still get errors telling me: "/bin/sh: 1: /usr: Permission denied" Would that be a different issue?

[2015-12-29 08:13] mikemcquaid commented on #47465
Yes. Please report Linuxbrew issues to Linuxbrew.

[2015-12-29 11:33] mikemcquaid commented on #47435
It does seem to:
https://github.com/Homebrew/homebrew/blob/616f0f4f1863f19e6a64276ac5fbaf010d99b0a4/Library/Homebrew/cmd/doctor.rb#L520-L532

Any ideas why this wouldn't have caught your case?

[2015-12-29 11:34] JurgenJocubeit opened #47483 "rethinkdb bottle doesn't include backup/restore"
Tried to backup databases using `rethinkdb dump` command only to be presented with the following error:
[code]
I checked the `\bin` directory (version 2.1.4) and it doesn't appear to have `rethinkdb-dump` or `rethinkdb-restore` python scripts. Are there any plans to include these scripts?

[2015-12-29 11:53] mikemcquaid commented on #47483
There are no current plans but you could always start them. Could you try and open a pull request? This should help and I'm happy to walk you through anything else: https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-To-Open-a-Homebrew-Pull-Request-(and-get-it-merged).md#how-to-open-a-homebrew-pull-request-and-get-it-merged

Thanks!

[2015-12-29 14:38] #47465 closed

[2015-12-29 14:47] jmcnevin opened #47497 "RabbitMQ plist can't find erlang when homebrew isn't in /usr/local."
I'm currently using homebrew installed in /opt/homebrew, and I had a weird issue where the rabbitmq 3.6.0 launch agent just wouldn't do anything.  I think this line is the culprit:

https://github.com/Homebrew/homebrew/blob/master/Library/Formula/rabbitmq.rb#L87

After adding my custom homebrew path to this line, rabbitmq was able to start.

[2015-12-29 14:49] bfontaine commented on #47497
We should maybe use `#{HOMEBREW_PREFIX}` instead of `/usr/local` here.

[2015-12-29 14:50] mikemcquaid commented on #47497
Sounds like it :+1:

[2015-12-29 15:18] mackoj opened #47499 "homebrew/apache/mod_fastcgi failed to build on 10.11.2"
Hi,

Apparently `brew install homebrew/apache/mod_fastcgi` failed on OS X 10.11.2

https://gist.github.com/anonymous/eb87f38551b6729a6d06

[2015-12-29 15:45] bfontaine commented on #47499
This issue was moved to Homebrew/homebrew-apache#105

[2015-12-29 15:45] #47499 closed

[2015-12-29 15:48] kaazoo commented on #47428
https://github.com/kaazoo/homebrew/commit/cd0f1db42e0a8228740fce347604d1cfe3a51364 may not be the perfect solution, but it works for me. wine and wine64 are installed together.

Clang 3.8-HEAD is required for the wine64 build:
```brew install llvm --with-clang --with-clang-extra-tools --with-compiler-rt --with-libcxx --with-lld --with-rtti --HEAD```

[2015-12-29 17:10] andriytyurnikov opened #47502 "nvm ls-remote strange behavior"
https://github.com/creationix/nvm/issues/953#issuecomment-167830284

[2015-12-29 17:20] bfontaine commented on #47502
Could you please add more information about how to reproduce the bug?

[2015-12-29 17:21] andriytyurnikov commented on #47502
`nvm ls-remote`

[2015-12-29 17:24] mistydemeo commented on #47502
I can't reproduce the problem on the same OS X version using a fresh nvm install.

[2015-12-29 18:24] mikemcquaid commented on #47502
@andriytyurnikov To help us debug this issue can you explain:
- What you were trying to do (and why)
- What happened
- What you expected to happen
- Step-by-step reproduction instructions (with as minimal input data as possible)

[2015-12-29 18:54] velikanov commented on #46850
@FrankSansC :+1:

[2015-12-29 21:25] hivehand opened #47513 "The formulae `cdiff` and `colordiff` conflict"
Both the `cdiff` and `colordiff` formulae want to install an executable named `cdiff`. Each formula needs to be updated to indicate its conflict with the other. Pull requests #47504 and #47505 should resolve this: I’m submitting this issue for the record.

[2015-12-29 22:19] andriytyurnikov commented on #47502
@mistydemeo surprisingly enough, reinstalling nvm fixed everything, sorry

[2015-12-29 22:19] #47502 closed

[2015-12-29 23:40] lewisbrown commented on #39302
+1 for a different message. Must everyone with this issue google for this thread?

[2015-12-30 00:40] caojianfeng opened #47516 "install openssl fail for "404 Not Found""
honeydeiMac:openssl-master caojianfeng$ brew install openssl
==> Downloading https://www.openssl.org/source/openssl-1.0.2.tar.gz

curl: (22) The requested URL returned error: 404 Not Found
Trying a mirror...
==> Downloading https://raw.githubusercontent.com/DomT4/LibreMirror/master/OpenS

curl: (22) The requested URL returned error: 404 Not Found
Error: Failed to download resource "openssl"
Downlo

[2015-12-30 00:47] scpeters opened #47517 "Rebuilding downstream bottles"
I tried sending this to homebrew@librelist.com but it doesn't seem to have gone through, so I'm posting here. Apologies if it's the wrong venue.

I maintain an unofficial tap ( https://github.com/osrf/homebrew-simulation ), and we are starting to look into automatic bottle building. I have manually built a few in a clean VM, but we have a mac mini that we use for other CI things, and we'd like to

[2015-12-30 01:26] danielcompton commented on #47435
I had created a user called temp and setup Homebrew. Then I renamed it to Daniel, and created a new user danielcompton. I got the error when running as danielcompton.

One possibility is that the cache folder was writable but not the formulas themselves?

The only thing I can think of is that they were owned by the other user and writable but

[2015-12-30 03:44] DomT4 commented on #47516
You need to `brew update`. Let us know if the problem persists afterwards, Thanks!

[2015-12-30 03:44] #47516 closed

[2015-12-30 03:49] #42865 closed

[2015-12-30 03:53] DomT4 commented on #47433
Fixed by https://github.com/Homebrew/homebrew/commit/e34466243ac92915c47ad2ceeab78edbecc469aa, Thanks!

[2015-12-30 03:53] #47433 closed

[2015-12-30 05:53] magedmakled commented on #43154
in case the `SSL_CERT_DIR` variable persisted even after you remove it from the `.bash_profile` you might need to run `unset SSL_CERT_DIR` to unset it

[2015-12-30 06:01] grempe opened #47519 "signing-party tries to install from download sites missing specified version 2.1"
Running install fails for me with most current version of signing-party brew package.

https://github.com/Homebrew/homebrew/blob/8c6777b2b8e847d5f2b447eae532fa8ecffa6467/Library/Formula/signing-party.rb

[code]

Note that I am installing using the ` --with-rename-pgpring` option since I have mutt installed as well.

If you look at the dir listing of one of the URL's specified it is missing the req

[2015-12-30 07:29] imxuyue opened #47521 "Macvim failed to build on 10.11"
Hi. I have been trying to install macvim on my computer but I don't know what's wrong. Can you help me? Thank you!
Here is the gist: https://gist.github.com/dec4280858d16fb7a667

[2015-12-30 07:34] weemel opened #47522 "open-ssl failed to build on 10.6.8 - without failing error"
Running `brew install openssl` (installing openssl-1.0.2e) seems to hang/stall at `make install` at

```created directory `/usr/local/Cellar/openssl/1.0.2e/share/man/man7'```

in `04.make` without giving any error. I gave up waiting after half a day of no further output.

This is the gist-log: https://gist.github.com/ec31b5777d7ddb800125

Anyone have any ideas?

Thanks a lot!

Here is the zsh outp

[2015-12-30 07:48] mikemcquaid commented on #39302
@lewisbrown Could you try and open a pull request? This should help and I'm happy to walk you through anything else: https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-To-Open-a-Homebrew-Pull-Request-(and-get-it-merged).md#how-to-open-a-homebrew-pull-request-and-get-it-merged

Thanks!

[2015-12-30 08:00] mikemcquaid commented on #47435
@danielcompton Thanks. Given that `doctor` is checking this and we've got better permission fixing actively being worked on (https://github.com/Homebrew/homebrew/pull/45934) I'm going to close this out for now. Thanks for the report though; will help keep an eye on this.

[2015-12-30 08:01] #47435 closed

[2015-12-30 08:01] mikemcquaid commented on #47519
Could you try and open a pull request to update the tarball location? This should help and I'm happy to walk you through anything else: https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-To-Open-a-Homebrew-Pull-Request-(and-get-it-merged).md#how-to-open-a-homebrew-pull-request-and-get-it-merged

Thanks!

[2015-12-30 08:15] mikemcquaid commented on #47517
First, I believe both `--bottle` and `--verbose` are implied/added by `--ci-pr` so you can drop them. Otherwise: :+1:

Not automatically. `brew uses --recursive` is there to detect failures so you can manually add e.g. `revision 1` to failing bottles.

Yes; you could make a `--ci-master` build to test the latest Homebrew changes coming in.

The answer to both of this isn't ideal, I realise, and I'

[2015-12-30 09:22] scpeters commented on #47517
Ok, so I take it this is currently how the homebrew maintainers deal with
failing bottles: by manually bumping the revision number? If the `brew uses
--recursive` test can write a junit file, that might be helpful for
triggering downstream jobs...

Thanks for the tip!

We'll try this and see if we have any ideas for improvements.

Thanks!

cc: @j-rivero

[2015-12-30 09:27] vyacheslavk opened #47524 "Got error when trying enable postgis extension"
psql (9.4.5)

CREATE EXTENSION postgis;

ERROR:  could not load library "/usr/local/lib/postgresql/postgis-2.2.so": dlopen(/usr/local/lib/postgresql/postgis-2.2.so, 10): Symbol not found: __ZN5boost7archive18text_iarchive_implINS0_13text_iarchiveEE4loadERNSt3__112basic_stringIcNS4_11char_traitsIcEENS4_9allocatorIcEEEE
  Referenced from: /usr/local/opt/sfcgal/lib/libSFCGAL.1.dylib
  Expected in: /u

[2015-12-30 09:30] #47513 closed

[2015-12-30 09:30] #47517 closed

[2015-12-30 11:35] dpinol commented on #44317
is it possible that it does not work anymore? I think it stopped working roughly around 7.4.963.

[code]
Following line returns nothing either
[code]

[2015-12-30 12:16] DomT4 commented on #47521
Please try temporarily removing `anaconda` from your `$PATH`. It is known to be a bit of a hell-raiser for some builds.

[2015-12-30 13:59] stevetauber commented on #42106
If you still receive this error, an update to brew will fix it.

``` brew update```

[2015-12-30 14:37] aprescott opened #47529 "Unable to install phantomjs198"
I recently started updating to the latest `phantomjs`. Since I'd previously installed `phantomjs198`, I first uninstalled that. Then, with `brew install phantomjs`, I discovered it doesn't work because of #42249. So, of course, I tried to go back to `phantomjs198`, but I'm seeing the exact same error as with `phantomjs`:

[code]

[code]

I previously had 1.9.8 working fine, so I would expect to be

[2015-12-30 14:54] aprescott commented on #47529
I guess this is actually the same issue as https://github.com/Homebrew/homebrew-versions/issues/990.

[2015-12-30 14:54] #47529 closed

[2015-12-30 16:06] robmallo opened #47530 "wine failed to build on OS X 10.7.5"
I've tried many times but can't get wine to build. First it asked for a more up to date gcc, so I brewed it and then it started giving the following error:

`=> make dlls/winemac.drv/Makefile`
`Error: inreplace failed`
`dlls/winemac.drv/Makefile:`
`expected replacement of "-gstabs+" with ""`

I had a look around and reinstalled all the dependecies with "--universal" but it's still giving the same

[2015-12-30 16:16] dunn commented on #46957
Could one of you try building the software outside of Homebrew? That way we can determine if it's an upstream issue or not. Thanks!

[2015-12-30 18:02] tdsmith commented on #44317
It works:
[code]

[2015-12-30 18:52] DomT4 commented on #47530
Should be fixed by https://github.com/Homebrew/homebrew/commit/87badc6eeafd7ee151718ec177e4648cf714d9f9. Sorry about that.

Thanks for the report!

[2015-12-30 18:53] #47530 closed

[2015-12-30 19:03] Trekoid opened #47532 "brew cleanup fails trying to remove node 5.2.0 with no such file"
Hello - Today I tried running brew cleanup and I got the below no such file or directory error when it tried to remove node 5.2.0. I saw issues #20673 and #20345, but didn't see an applicable solution there.

Error Message:
[code]

Here is my brew configuration:
[code]

[2015-12-30 19:12] DomT4 commented on #47532
Weird. I'd probably do:

[code]
For now and let us know if it reproduces in future. I didn't see this locally at the point of update, and we haven't had it reported by anyone else yet so perhaps it's a local oddity in some way.

It's possible the change around manpage handling during the build [here](https://github.com/Homebrew/homebrew/commit/ed6d23ff29ba3513dde4bcf36de6a9e139a5f28e#diff-ba7ac8bf

[2015-12-30 19:26] Trekoid commented on #47532
That allowed things to proceed. I'll report back if I see the issue return.

[code]

[2015-12-30 19:27] sudhirj commented on #47532
Just had the same issue with 0.12.7, so I'm guessing it's just unable to remove old versions of node. Does 5.3.0 have a new directory structure definition that it expects the old versions to have as well?

[2015-12-30 19:27] sudhirj commented on #47532
@Trekoid I'd say keep this open, it's not just you.

[2015-12-30 19:29] DomT4 commented on #47532
Shucks. Hmm. Did both of you pour the bottle or build from source?

[2015-12-30 19:36] DomT4 commented on #47532
Nevermind. This is on our side, not your's. Looking into it.

[2015-12-30 19:38] mikemcquaid commented on #47532
Anyone who can reproduce this: please run `brew cleanup --debug` and paste the output, thanks!

[2015-12-30 19:46] imrook opened #47533 "Possible regression of 39950"
It appears that commit 7916ef26c137ab23849c7a4bed0f216ee8361d71 has caused a regression of https://github.com/Homebrew/homebrew/issues/39950 that was fixed in 10103ca25f03be844454bf37835b20ad5e281a26. A `brew info git-annex` gives the following output:
[code]
After `git revert 7916ef26c137ab23849c7a4bed0f216ee8361d71`, the output is as follows:

[code]

[2015-12-30 19:47] #47532 closed

[2015-12-30 19:50] mistydemeo commented on #47533
I see the issue, will fix.

[2015-12-30 19:52] mistydemeo commented on #47533
Should be fixed.

[2015-12-30 19:53] #47533 closed

[2015-12-30 19:54] dpinol commented on #44317
right, my fault. unlinking and running "brew link --override-system-vi" does not work. I had to uninstall and "brew install vim --override-system-vi"

thanks!

[2015-12-30 19:56] gaming-hacker commented on #45166
which CLT?  i tried the new swift build as well as with CLT

[2015-12-30 21:08] weemel commented on #47522
Well, i ended up un-installing brew and re-installing it... seems to have done the trick! There was a broken pipe error on

[code]

but other than that it seems ok.

[2015-12-30 21:08] #47522 closed

[2015-12-30 21:27] imxuyue commented on #47521
Thank you so much! It worked!

[2015-12-30 21:38] DomT4 commented on #47521
Great! Thanks for the confirmation. Glad all is working again.

[2015-12-30 21:38] #47521 closed

[2015-12-30 22:21] koxmoz opened #47538 "brew install m4 fail to build on osx 10.8.5"
Hello, I'm having trouble to install m4 in osx 10.8.5, I think it is a problem with clang or gcc, but I can figure out, the log, the config and doctor are here:

https://gist.github.com/koxmoz/c6f746f30306157d1161#file-brew-install-m4-fail-to-build-on-osx-10-8-5

thanks for your time!

[2015-12-30 23:20] DomT4 commented on #40801
Closing as dead. Please feel free to shout if we can help further here, Thanks!

[2015-12-30 23:20] #40801 closed

[2015-12-30 23:45] kfrost89 commented on #47346
Any update on this?

[2015-12-31 00:06] cusspvz opened #47542 "Add pixiewps to homebrew tap"
https://github.com/wiire/pixiewps

[2015-12-31 00:15] jeunito opened #47543 "ipmitool link broken"
The link for the ipmitool might need updating. I ran

[code]

and got the following:

[code]

[2015-12-31 00:34] DomT4 commented on #47543
Sourceforge appears to be having some issues tonight with the redirect from SF to mirror, seen a few of these. Usually self-resolves in a few hours.

Added a mirror in https://github.com/Homebrew/homebrew/commit/db9b9d34f15949155f222dba076b4eac6130154d as a workaround.

[2015-12-31 00:34] #47543 closed

[2015-12-31 00:38] jeunito commented on #47543
Thanks. It works again.

[2015-12-31 00:53] statico opened #47544 "Current Emscripten formula installs a development version, not a stable one"
CC'ing recent contributors @jiegec @stuwil @DomT4 @xu-cheng

The [current homebrew formula for emscripten](https://github.com/Homebrew/homebrew/blob/master/Library/Formula/emscripten.rb) installs 1.35.9. However, 1.35.9 is a development release -- the latest stable is 1.35.0 from the `master` branch, and the latest development release is 1.35.14 in the `incoming` [branch](https://github.com/kripke

[2015-12-31 01:15] mravery opened #47545 "`passenger` formula info incorrect"
Using `brew --version 0.9.5 (git revision 8658e; last commit 2015-10-14)`.

Installing `passenger` generates this information (this can also be accessed via `brew info passenger`) :

The line `PassengerRoot /usr/local/opt/passenger/libexec/lib/phusion_passenger/locations.ini` is wrong. It should be: `PassengerRoot /usr/local/Cellar/passenger/5.0.20/libexec/src/ruby_supportlib/phusion_passenger/loc

[2015-12-31 01:18] mistydemeo commented on #47545
Try running `brew update`; the instructions were fixed after your Homebrew was last updated.

[2015-12-31 01:18] #47545 closed

[2015-12-31 01:19] manueljordan opened #47546 "Latest Homebrew release can't install ruby and mysql"
I am working on Mac 10.8.5

I have worked with Homebrew since two years ago without any problem.

And I have now two problems as follows:

I run twice `brew doctor`

[code]

When I want install ruby I always get:

[code]

When I want install mysql, I always get:

[code]

* I have deleted each formula
* I have uninstalled and installed again Homebrew (December 30 2015)

And the same problems persis

[2015-12-31 01:31] mistydemeo commented on #47546
Regarding your second problem, the site that hosts boost is currently down for maintenance: https://twitter.com/sfnet_ops/status/682370691396571138

Regarding your first problem, have you tried following Homebrew's instruction to update your Command Line Tools?

[2015-12-31 02:09] dunn commented on #47346
@kfrost89 if you feel like picking it up, that'd be awesome! Take a look at https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-To-Open-a-Homebrew-Pull-Request-(and-get-it-merged).md and let us know if you have questions.

[2015-12-31 02:20] dunn commented on #47522
Sorry about that! Try running `brew update` and then `brew postinstall openssl`.

[2015-12-31 02:29] manueljordan commented on #47546
Thanks by the clarification about the second problem.

About the first:
I have `Software  OS X 10.8.5 (12F2560)`
It is Mountain Lion according with:

* https://es.wikipedia.org/wiki/OS_X#Versi.C3.B3n_10.8:_.C2.ABMountain_Lion.C2.BB

Now I am on `https://developer.apple.com/downloads/` and with the search for `Command Line Tools`, the latest updated release for my OS version is April 2014 (see the

[2015-12-31 03:47] multi-io opened #47549 "idutils formula broken; leaves behind undeletable directory"
"brew install idutils" runs for a long time, then (during "make install") fails and leaves behind a directory in /tmp/ named something like idutils20151231-56082-1j8wb0x, containing a seemingly endless sequence of subdirectories /tmp/idutils20151231-56082-1j8wb0x/idutils-4.6/confdir-14B---/confdir-14B---/confdir-14B---/confdir-14B---/confdir-14B---/....  The directory is undeletable ("File name to

[2015-12-31 05:07] dunn commented on #47542
Feel like writing a formula?  Take a look at https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-To-Open-a-Homebrew-Pull-Request-(and-get-it-merged).md and let us know if you have questions!

[2015-12-31 05:42] ilovezfs commented on #47549
I cannot reproduce this issue. I tried on 10.8 and on 10.11.

[code]
and paste the gist url.

Also,

[code]

And then pastebin or gist the output file named 'Brewfile'. Maybe it will shed some light.

[2015-12-31 05:52] ahundt opened #47551 "Use current version of devil.rb"
The new [DevIL github repository](https://github.com/DentonW/DevIL) is the most current place to get the code for DevIL, as specified on the [DevIL website](http://openil.sourceforge.net/).

It seems that there are better options for [devil.rb](https://github.com/Homebrew/homebrew/blob/master/Library/Formula/devil.rb) available when compared to the one currently in use. The current version may not

[2015-12-31 06:51] ilovezfs commented on #47549
This is some sort of upstream bug with your particular setup (possibly your libc).

The problem is created by a program that configure compiles and runs. I don't know why it messes up in your case and fails to remove the directories. I can re-create the situation by compiling a modified version of it and running that.

[code]

[2015-12-31 07:55] mikemcquaid commented on #47544
Can you suggest a comment we can add to the formula file to indicate whether it's a stable or development version just by looking at the verson number?

[2015-12-31 08:03] mikemcquaid commented on #47551
If we can move to a mode widely used fork which doesn't require patching and the existing software is abandoned: that's ok :+1:

[2015-12-31 09:28] weemel commented on #47522
@dunn Thanks for that, followed your instructions and it ran without errors or output so i assume it worked!

[2015-12-31 09:41] DomT4 commented on #47549
It's an El Capitan bug which may possibly be fixed in certain configurations already. Same thing happened in various other GNU formulae: #45273, etc. Have filed #47553 to fix it.

In the nested directory you can run something like the script [here](https://lists.gnu.org/archive/html/bug-tar/2015-10/msg00017.html) to purge it directory by directory.

[2015-12-31 09:50] #47549 closed

[2015-12-31 10:13] #47519 closed

[2015-12-31 10:13] yan12125 opened #47555 "Feature request: using `tar xvf` in `brew install --verbose XYZ`"
As title, seems currently ```tar xf``` is hardcoded. Giving more details when extracting files would be nice. For large packages (for example boost), I'd like to see which file it is processing, or my terminal looks hang for quite a few seconds.

[2015-12-31 10:17] DomT4 commented on #47463
Feel free to file additional PRs if there's anything else you want to tweak. Cheers!

[2015-12-31 10:17] #47463 closed

[2015-12-31 10:18] DomT4 commented on #47352
Let us know if we can help further here, Thanks!

[2015-12-31 10:18] #47352 closed

[2015-12-31 10:18] DomT4 commented on #47309
Let us know if we can help further here, Thanks!

[2015-12-31 10:18] #47309 closed

[2015-12-31 10:18] DomT4 commented on #47308
Let us know if we can help further here, Thanks!

[2015-12-31 10:18] #47308 closed

[2015-12-31 10:20] DomT4 commented on #47143
Closing per Mike's comment. Thank you for the willingness to contribute to Homebrew, we appreciate that :heart:

[2015-12-31 10:20] #47143 closed

[2015-12-31 10:20] DomT4 commented on #46562
Closing in favour of the open PR, Thanks!

[2015-12-31 10:20] #46562 closed

[2015-12-31 10:20] DomT4 commented on #46659
Let us know if we can help further here, Thanks!

[2015-12-31 10:20] #46659 closed

[2015-12-31 10:20] DomT4 commented on #46886
Let us know if we can help further here, Thanks!

[2015-12-31 10:20] #46886 closed

[2015-12-31 10:22] DomT4 commented on #47069
Feel free to file a PR here if you still want to make the change, Cheers!

[2015-12-31 10:22] #47069 closed

[2015-12-31 10:22] DomT4 commented on #46859
Let us know if we can help further here, Thanks!

[2015-12-31 10:22] #46859 closed

[2015-12-31 10:22] DomT4 commented on #46724
Let us know if we can help further here, Thanks!

[2015-12-31 10:22] #46724 closed

[2015-12-31 10:23] DomT4 commented on #46053
Let us know if we can help further here, Thanks!

[2015-12-31 10:23] #46053 closed

[2015-12-31 10:24] DomT4 commented on #45768
Let us know if we can help further here, Thanks!

[2015-12-31 10:24] #45768 closed

[2015-12-31 10:24] DomT4 commented on #45260
Let us know if we can help further here, Thanks!

[2015-12-31 10:24] #45260 closed

[2015-12-31 10:26] DomT4 commented on #44957
Let us know if we can help further here, Thanks!

[2015-12-31 10:26] #44957 closed

[2015-12-31 10:26] ssreekanth commented on #46566
It is still failing..
[code]

[2015-12-31 10:26] DomT4 commented on #43752
Let us know if we can help further here, Thanks!

[2015-12-31 10:26] #43752 closed

[2015-12-31 10:27] DomT4 commented on #41632
This is resolved now.

[2015-12-31 10:27] #41632 closed

[2015-12-31 10:28] DomT4 commented on #41501
Closing here. Easier at this point to track sandbox failures on a formula-by-formula basis than keeping a tracking issue open indefinitely pages deep into the Issues, heh.

[2015-12-31 10:28] #41501 closed

[2015-12-31 10:29] DomT4 commented on #36817
Let us know if we can help further here, Thanks!

[2015-12-31 10:29] #36817 closed

[2015-12-31 10:35] ssreekanth opened #47556 "wget fails to install on 10.6.8"
pod2man complains about ```--utf8``` as an unknown option.

[code]

[2015-12-31 10:50] alexbarton opened #47557 "ansible-cmdb: specifying a hosts file results in "ImportError: No module named yaml3""
Specifying a "hosts file" with the -i option results in the following error:
[code]

Is this module missing from the formula?
How can I help to debug this?

`brew config` and `brew doctor` reports: https://gist.github.com/2f3821286714a7cd096c

[2015-12-31 11:38] nrGitHub opened #47559 "squid 3.5.12 no etc dir?"
Just upgraded squid from 3.5.7 to 3.5.12 but don't see an etc directory with the configuration files. Has this been moved?

ymir:~ $ ls -hal /usr/local/Cellar/squid/3.5.12
total 600
drwxr-xr-x  11   admin   374B Dec 31 12:13 .
drwxr-xr-x   4   admin   136B Dec 31 12:13 ..
-rw-r--r--   1   admin    18K Nov 28 16:13 COPYING
-rw-r--r--   1   admin   268K Nov 28 16:13 ChangeLog
-rw-r--r--   1   admin

[2015-12-31 12:03] DomT4 commented on #47559
A couple months back it was moved to `/usr/local/etc` (Providing your Homebrew lives in `/usr/local`) so the configuration didn't die every update/reinstall/uninstall/revision/etc. Should find the files there now.

[2015-12-31 13:00] nrGitHub commented on #41489
Same here

[2015-12-31 13:14] mikemcquaid commented on #41489
Everyone will get this. I suggest working with upstream on a solution.

[2015-12-31 16:25] bfontaine commented on #45166
@gaming-hacker Please post the output of `brew gist-logs pulseaudio`

[2015-12-31 18:32] statico commented on #47544
@mikemcquaid: To my knowledge there's no way know if a given Emscripten version is in the development or stable track.

[2015-12-31 18:40] mikemcquaid commented on #47544
Then I guess we'll probably keep messing this up :sob:

[2015-12-31 21:07] perdona commented on #47309
No, it does not. Everything's running smooth.
Posted to let u know.

Thanks!

*--*
*Caio Perone Perdona*
*Python Full Stack Web Developer*
*mail**: perdona@gmail.com <perdona@novasingular.com.br>*

*mobile: (16) 99235-3202*
*skype: c.perdona*

*"**Every man dies, not every man truly lives."*

On Thu, Dec 31, 2015 at 8:19 AM, Dominyk Tiller <notifications@github.com>
wrote:

[2015-12-31 21:33] imrook commented on #47533
Confirmed this fix works for me. Thanks Misty!

[2015-12-31 21:35] mistydemeo commented on #47533
No problem, glad it works for you!

[2016-01-01 00:38] aw1621107 commented on #47069
Huh, could have sworn I submitted one already....

[2016-01-01 01:31] nirvana74v opened #47576 "Homebrew should check for installed packages before downloading"
Noticed that even if the system has the same package/library in formula installed, brew downloads the files as coded in formula file. Had same version cmake installed on my system but while installing mysql it was forcing itself to download cmake, later it couldn't find the patch for it and failed.

[2016-01-01 01:39] mistydemeo commented on #47576
This is on purpose; for most packages, unless they come with the OS, Homebrew prefers its own versions because we can't guarantee compatibility with other versions installed on your system. We make some exceptions; an example is Python, where we allow various installations of Python to satisfy Homebrew's requirements check. However, we do this on a case-by-case basis, in places where we are confid

[2016-01-01 03:09] dunn commented on #47557
Yeah, that's probably the issue.  If you want to open a PR to fix it that'd be awesome!  Take a look at https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-To-Open-a-Homebrew-Pull-Request-(and-get-it-merged).md and let us know if you have questions.

[2016-01-01 03:22] nirvana74v commented on #47576
I appreciate the concerns but let me put the steps which defeats the first reason, please let me know if I understood it wrong.
Installed homebrew, as mentioned in docs
Executed: brew install mysql
/usr/local/Library/Homebrew/build.rb (Formulary::FromPathLoader): loading /usr/local/Library/Formula/cmake.rb
==> Downloading http://www.cmake.org/files/v3.2/cmake-3.2.3.tar.gz
==> Downloading from http

[2016-01-01 03:44] zmwangx commented on #47164
May I suggest that TOC also be added to individual pages, especially Formula Cookbook, which is a hell of a long document? With [`doctoc`](https://github.com/thlorenz/doctoc) it's just one single command away (be it initial generation or updates).

[2016-01-01 04:25] dunn commented on #47576
Can you post the logs generated by `brew gist-logs cmake`? Thanks!

[2016-01-01 04:37] mistydemeo commented on #47576
Can you post your `brew --config` and `brew doctor`? Is there anything unusual about the openssl and curl on your system?

[2016-01-01 04:48] brandonwolfgang opened #47578 "python3 (v 3.5.1) failed to build on 10.7.5-x86_64"
I initially encountered this issue when running `brew upgrade` with `python3 (v 3.4.3)` already installed, so I then ran `brew uninstall python3` and attempted to reinstall using `brew install python3`. I also deleted all python3 related downloads in `~/Library/Caches/Homebrew/` and any logs in `~/Library/Logs/Homebrew/python3/`.

I've completed all the standard troubleshooting steps like running

[2016-01-01 08:36] ilovezfs opened #47579 "brew doctor false positive for outdated Xcode version due to Xcode.app on external drive"
The "brew doctor" command will give a false positive that Xcode is outdated when an external drive containing an outdated Xcode.app is attached, even when the active Xcode folder, as reported by xcode-select -p, points to an up-to-date  Xcode command line tools folder.

Demonstration:
[code]

[2016-01-01 09:31] gaming-hacker opened #47580 "building ffmpeg with x265 10/12-bit libs and webp"
i'm pretty sure webp is broken.
i've tried compiling ffmpeg with the bottle which has 10-bit libs and my own from source with has 8/10/12 bit libs.

both fail with bottle webp
undef: _x265_api_get_79
Undefined symbols for architecture x86_64:
  "_x265_api_get_79", referenced from:
      _libx265_encode_init_csp in libwebpenc_common.o
      _libx265_encode_init in libwebpenc_common.o

building webp

[2016-01-01 09:54] mikemcquaid commented on #47580
To help us debug this issue can you explain:
- What you were trying to do (and why)
- What happened
- What you expected to happen
- Step-by-step reproduction instructions (with as minimal input data as possible)

[2016-01-01 10:53] ryofurue opened #47582 "netcdf.mod missing"
netcdf.mod seems to be missing from the netcdf package.  (Is the whole Fortran interface missing? or is it just netcdf.mod ?  Under homebrew, I guess it makes sense to include interfaces for gfortran, both F77 and F90.)

Thank you

[2016-01-01 13:22] #47497 closed

[2016-01-01 16:37] UniqMartin commented on #47069
You did in PR #47145, but then you closed it yourself a week ago and I don't really understand why that happened and why there's a need for a new one (#47575).

There's a lot of PRs and issues (both open and closed) floating around `llvm` and I have to admit that I lost track over the holidays. It would be good if all the people passionate about this formula (as there are obviously several) could

[2016-01-01 16:58] UniqMartin commented on #47269
I don't think this is the right conclusion to draw. We might be professionals at maintaining Homebrew as a whole, but we are not experts on every single formula we have in Homebrew, especially not on such complex formulae like `llvm`. We need contributors like you who care about a specific piece of software and want to improve the experience for other Homebrew users. Thanks for the work you and ot

[2016-01-01 17:05] dunn commented on #47582
We'd love a pull request, if you're up for fixing this!  Take a look at https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-To-Open-a-Homebrew-Pull-Request-(and-get-it-merged).md and let us know if you have questions.

[2016-01-01 17:16] tschoonj commented on #47578
I think this build failure is triggered because you're using gcc-5 instead of clang. The former appears to be choking on the ObjC syntax.

[2016-01-01 17:18] UniqMartin commented on #47579
I believe this behavior is correct, as we distinguish between Xcode (as in `Xcode.app`) and the Command Line Tools (CLT). You can see that distinction in the output of `brew config`. There is a certain overlap between the two, as they both provide compilers and a few other developer tools, but the CLT are no full replacement for Xcode and some formulae cannot be built without the latter. That's th

[2016-01-01 17:19] brandonwolfgang commented on #47578
Ah that may explain it, I installed `coreutils` so I could use `gsort`. I'm not sure why this installation would default to using `gcc-5` rather than `clang` though. Is there a way to manually force `clang` when installing formulae?

[2016-01-01 17:24] mistydemeo commented on #47578
The version of clang that comes with your version of Xcode is blacklisted because it's known not to work for building Python 3. Sorry!

[2016-01-01 17:27] SuperHenkie opened #47591 "Where is Homebrew's repos dir? (brew update: "insufficient permission for adding an object to repository database")"
Since a week or so, `brew update` gives me this:

Googling around gave me [this explanation](http://stackoverflow.com/questions/6448242/git-push-error-insufficient-permission-for-adding-an-object-to-repository-datab#6448326) which involves some `chgrp` and `chmod` trickery in the git repository dir.

**Question: exactly what or where is the git repository dir for my local homebrew installation?**

[2016-01-01 17:28] brandonwolfgang commented on #47578
Thanks @mistydemeo! It's odd though because as mentioned in my original post I previously had 3.4.3 installed via homebrew and it worked without issue. This only arose when I ran `brew upgrade` and the 3.5.1 install began. Now I can't (easily) get back to 3.4.3 and 3.5.1 won't install. Any ideas?

[2016-01-01 17:30] mikemcquaid commented on #47591
Sorry but you have not followed the requested steps on the Troubleshooting page: https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/Troubleshooting.md#troubleshooting

Please follow (all of) these steps and post the information here so we can help you with your problem.

Thanks!

[2016-01-01 17:38] mistydemeo commented on #47578
It looks like that was only added a few days ago, and didn't apply to old versions: 9be7b941

You could try this and let us know if it works:

[code]

[2016-01-01 17:40] ilovezfs commented on #47579
I can see that brew config draws a distinction between the two but it seems questionable whether there's anything to warn about if xcode-select is pointing at a current version, unless brew always opts for Xcode.app over the CLT despite your xcode-select setting? It certainly would be less "mysterious" if it reported out the CLT and Xcode.app versions when complaining.

It's also suspect to be usi

[2016-01-01 17:48] brandonwolfgang commented on #47578
I owe you a coffee @mistydemeo, that did it! The only issue I encountered was that `apple-gcc42` is part of `homebrew/dupes` so the proper command is `brew install homebrew/dupes/apple-gcc42`.

[2016-01-01 17:48] #47578 closed

[2016-01-01 19:58] aw1621107 commented on #47069
I think I got that branch mixed up with the one adding `-DNDEBUG` as a standard CMake arg, so when that PR got merged I deleted that branch too. My mistake.

[2016-01-01 19:58] ylluminate opened #47593 "Another active Homebrew process is already using xz?"
While attempting to install `cake` via `brew install cake` I received the following error:
[code]

Unfortuantely there are no `xz` processes executing whatsoever.  I'm guessing there's some kind of a pid or lock file floating around, but I'm not finding it anywhere.  Any ideas?

[2016-01-01 20:06] UniqMartin commented on #47593
The error message complains about another running `brew` process, but if you are sure this is not the case, then it's probably some leftover lock files from a previous (crashed?) run. You can remove them with `brew cleanup` (check the output of `brew cleanup -n` to make sure it won't delete anything you care about, as `brew cleanup` does a lot more than removing those lock files). It should work a

[2016-01-01 20:22] ylluminate commented on #47593
Interesting.  Must have been a lock file floating around.  Thanks for the heads up on `cleanup` resolving that.

[2016-01-01 20:22] #47593 closed

[2016-01-01 22:47] DomT4 commented on #47309
Great! Thanks for the confirmation.

[2016-01-02 00:27] DomT4 commented on #47582
This issue was moved to Homebrew/homebrew-science#3168

[2016-01-02 00:27] #47582 closed

[2016-01-02 00:50] UniqMartin commented on #47579
Thanks for the additional detail! I basically agree with your assessment: Homebrew could suggest using one of the `Xcode.app` it found, but shouldn't use it automatically, especially if it is located somewhere else than `/Applications`. And the choice made via `xcode-select` shouldn't be ignored either.

[2016-01-02 01:34] apjanke commented on #47579
I agree about not warning in this case, and only complaining or auto-selecting an Xcode when trying to install a specific formula, and the `xcode-select` selection is a CLT. Warning about this case sounds bug-ish to me: this is a legit, supported configuration, and coincidentally having an Xcode.app on an external drive shouldn't interfere with things.

[code]

I'm not sure this is an outright bug

[2016-01-02 02:21] kaidokert commented on #47373
Not seeing this on any of the machines that i have, may have been temporary cloudfront propagation thing or something - i think its good to close.

[2016-01-02 02:21] #47373 closed

[2016-01-02 02:55] xiehao commented on #47210
@tdsmith : Sorry for the late reply. Xcode command-line tools was installed before, yet not the latest version. Does it matter?

[2016-01-02 03:53] mistydemeo commented on #45166
The error is here:

[code]

Which hardcodes the header path to the pre-Xcode 4.3 location. It works with the CLT installed since the CLT installs headers there, but it won't check in the Xcode SDK.

[2016-01-02 04:06] mistydemeo commented on #45166
Looks like this was filed by Adam [back in 2012](https://bugs.freedesktop.org/show_bug.cgi?id=55152); Macports [patched it](https://trac.macports.org/browser/trunk/dports/audio/pulseaudio/files/patch-configure.ac-coreservices.diff) seven months ago.

[2016-01-02 04:11] xiehao commented on #47210
@tdsmith : Thanks for your tip! I reinstalled Xcode command-line tools, and it solves my problem! :) Maybe this issue should be closed.

[2016-01-02 04:13] alan707 commented on #42249
@evadne +1

[2016-01-02 05:16] #45166 closed

[2016-01-02 08:39] #47210 closed

[2016-01-02 14:56] gentlecat opened #47604 "brew install ejabberd --HEAD fails"
Utils::InreplaceError: inreplace failed
    rebar.config.script:
      expected replacement of /https:\/\/github.com\/processone\/cache_tab\.?g?i?t?/ with #<Pathname:/Library/Caches/Homebrew/ejabberd--cache_tab--git>

*Full log: https://gist.github.com/anonymous/fa9f3fe033ec545449ae*

[2016-01-02 17:36] mietek commented on #47533
Thanks for catching this.

[2016-01-02 19:12] bfontaine commented on #47604
Thank you for the report @gentlecat! This should be fixed now; please run `brew update` and try again.

[2016-01-02 19:12] #47604 closed

[2016-01-02 21:50] gaming-hacker commented on #45166
Nice work, can you also update the formulat to 7.1?  6.0 is very old.

[2016-01-02 22:00] mistydemeo commented on #45166
I have a PR for it in #47616.

[2016-01-02 22:43] DomT4 commented on #47559
The above should resolve your question but feel free to shout if it doesn't, Thanks!

[2016-01-02 22:43] #47559 closed

[2016-01-02 22:44] DomT4 commented on #47542
Happy to review a PR here. Please feel free to shout if you need any help, Thanks!

[2016-01-02 22:44] #47542 closed

[2016-01-02 22:44] DomT4 commented on #47462
Closing per the above. That's the best long-term solution going forwards rather than ripping apart the `doctor` file for a short-term rewrite. Feel free to track the linked Issue for progress, Thanks!

[2016-01-02 22:44] #47462 closed

[2016-01-02 22:45] DomT4 commented on #47455
Let us know if we can help further here, Thanks!

[2016-01-02 22:45] #47455 closed

[2016-01-02 22:46] DomT4 commented on #47449
Let us know if we can help further here, Thanks!

You may have an old `npmrc` or something pointing at the Cellar perhaps, if you didn't manage to resolve this locally.

[2016-01-02 22:46] #47449 closed

[2016-01-02 23:33] sglaser commented on #47449
Just reinstalled from scratch using home-brew and everything installs as it should.

I’m not sure why npm was putting things in /usr/local/lib/Cellar/node*/node_modules instead of /usr/local/lib/node_modules.

I did have both node flavors installed at different times (nodes.org vs brew). It’s quire likely that I didn’t fully remove one before switching. I also defaulted .npmrc to global at one poi

[2016-01-03 00:48] reagle opened #47620 "Is pip3 not in the python3 brew?"
I'm trying to following various tutorials, but I can find pip3! When I search the package, it's not there. Shoudn't it be?

[code]

[2016-01-03 01:15] bfontaine commented on #47620
Yes it is:
[code]

[2016-01-03 02:36] zmwangx opened #47622 "brew reinstall: support the --interactive option"
Comparing [`reinstall.rb` L23-29](https://github.com/Homebrew/homebrew/blob/7d714ac258b986a3bde2045c2b2f478973c9c095/Library/Homebrew/cmd/reinstall.rb#L23-L29) to [`install.rb` L203-L213](https://github.com/Homebrew/homebrew/blob/7d714ac258b986a3bde2045c2b2f478973c9c095/Library/Homebrew/cmd/install.rb#L203-L213), it appears that `brew install` takes into account more command line options than `bre

[2016-01-03 02:47] gaming-hacker commented on #47580
1. i always build ffmpeg from latest pull, i wanted to add libwebp library to ffmpeg.  so  brew install webp, no problems. x265 was installed through bottle.

2. configured ffmpeg --enable-libx265, --enable-libwebp;  failed, so problem is either with x265 or webp api interface.
outside of homebrew, i installed x265 from source with all bits 8/10/12,  src/linux/multilb.sh, still crashed with error

[2016-01-03 02:56] gaming-hacker opened #47623 "exclude list of directories like /usr/local $HOME/build:: homebrew build ENV"
i have homebrew installed in a non-default location,  ${HOME}/brewmeister  because other apps like perl, like to dump Tk/Tcl there.

i'd like to permanently exclude directories in the homebrew build ENV, ie, sandbox it to only it's own libraries or system SDKs.

can this be done? already done?  i didn't see any env variables in the docs.

[2016-01-03 03:22] reagle commented on #47620
Not for me. How could this be? Could I have some weird version? (I'm still getting familiar with homebrew.)

[code]

[2016-01-03 03:34] reagle commented on #47620
I see there's a pip resource in the [ruby file](https://github.com/Homebrew/homebrew/blob/master/Library/Formula/python3.rb) but still not sure why I'm not seeing it in the search or install...

[2016-01-03 03:36] reagle commented on #47620
I uninstalled, did `brew cleanup`, and reinstalled, and now I seem to have it... Weird.

[2016-01-03 03:36] #47620 closed

[2016-01-03 08:15] SPARKLING165 opened #47624 "Unable to install imagemagick. Receiving a 404 error"
I am running Ubutnu 14.04. I have successfully installed home/linux brew as well as ran brew doctor.
When I run brew install imagemagick this is what I get.

curl: (22) The requested URL returned error: 404 Not Found
Trying a mirror...
==> Downloading http://ftp.nluug.nl/ImageMagick/ImageMagick-6.9.2-6.tar

curl: (22) The requested URL returned error: 404 Not Found
Error: Failed to download resour

[2016-01-03 09:03] mikemcquaid commented on #47624
Please report Linuxbrew issues to Linuxbrew.

[2016-01-03 09:03] #47624 closed

[2016-01-03 11:56] DLaboratory opened #47625 "Failed to install ffmpeg"
[code]

That's the entire console output.

`brew doctor` result:

[code]

[2016-01-03 17:07] DomT4 commented on #47546
What does `/usr/bin/curl -I -v https://www.openssl.org/source/openssl-1.0.2e.tar.gz` return?

[2016-01-03 17:24] mikemcquaid commented on #47538
@koxmoz Can you try to `brew update` and then try again? Can you install any other software e.g. `wget`? You may also need/want to fix your `brew doctor` warnings.

[2016-01-03 17:24] mikemcquaid commented on #47555
@yan12125 Sounds reasonable. Could you try and open a pull request? This should help and I'm happy to walk you through anything else: https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-To-Open-a-Homebrew-Pull-Request-(and-get-it-merged).md#how-to-open-a-homebrew-pull-request-and-get-it-merged

Thanks!

[2016-01-03 17:36] DomT4 commented on #47625
The problem here is the single dash. You've essentially stumbled onto a core bug that we're aware of in terms of not validating dash usage.

Fixing the dash in your command will solve the immediate issue:
[code]

[2016-01-03 17:37] mikemcquaid commented on #47579
The problem is: generally you want `xcode-select` pointing to the CLT rather than Xcode so this would be somewhat hard to detect warn for. I don't mind being more explicit to users if we can, though.

[2016-01-03 17:48] mikemcquaid commented on #47622
It's excluded because `reinstall` does more than just `uninstall; install`. Often `--interactive` will write e.g. just metadata files which would mean the backup is destroyed. Regardless, some of this may be worth adding. Could you try and open a pull request? This should help and I'm happy to walk you through anything else: https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-T

[2016-01-03 17:50] mikemcquaid commented on #47580
What does "latest pull" mean?

What crashed? Where did you install it? Are you sure `ffmpeg` was picking up your `webp`?

What does this mean, sorry? Please be more verbose. Thanks!

[2016-01-03 17:51] mikemcquaid commented on #47623
We do this already as much as we can do, really. Beyond doing what we're doing requires buildsystems/CMake to behave nicely which they don't always. Sorry!

[2016-01-03 17:51] #47623 closed

[2016-01-03 17:53] yan12125 commented on #47555
I'll try it, but first I need to learn Ruby :)

[2016-01-03 18:07] DomT4 commented on #43136
Tagging https://github.com/Homebrew/homebrew/pull/47575 as another example.

[2016-01-03 18:27] DomT4 commented on #45334
Fixed by https://github.com/Homebrew/homebrew/commit/0617f366d528bf8c05a88ef04e42f928b089216b.

[2016-01-03 18:27] #45334 closed

[2016-01-03 18:31] mikemcquaid commented on #47555
@yan12125 Thanks :grinning: and we'll help you!

[2016-01-03 18:40] UniqMartin commented on #47579
I have prepared a change that removes most of the magic and addresses the complaint of the issue author while still retaining some automatism to avoid unexpectedly breaking many Homebrew installations. I also had some preliminary discussion with Misty about this. I'll try to submit a PR shortly, but this requires a bit more local testing first.

[2016-01-03 18:51] tdsmith opened #47640 "filter .pyc messages out of sandbox log"
Messages of the form `.*Python(\d+) deny file-write-create.*pyc` are just noise and aren't fatal; it would be nice to hide them from the sandbox log summary.

[2016-01-03 18:57] mikemcquaid commented on #47640
:+1:

[2016-01-03 18:58] SuperHenkie commented on #47591
Thanks, wasn't aware of that procedure. After the `sudo chown` command, I still experienced some issues (`brew doctor` reported something about duplicate cask commands, or being unable to update from caskroom tap or something). But after another sequence of update, upgrade, doctor, etc, eventually everything is now fine!

[2016-01-03 18:59] #47591 closed

[2016-01-03 19:01] DomT4 commented on #47640
No objections.

[2016-01-03 19:09] manueljordan commented on #47546
Hello

I have the following:

[code]

Thank you.

[2016-01-03 19:13] benjaminfrank opened #47643 "abcde: Expansion of $REDIR quoted on MacOSX breaks cp"
Hit the following issue when ripping a CD:
[code]
Upstream already identified & fixed the issue http://abcde.einval.com/bugzilla/show_bug.cgi?id=22
Until upstream releases a new version, using the supplied patch http://abcde.einval.com/bugzilla/attachment.cgi?id=12 solves the issue, I opened a PR ( #47644 ) for it in case this is acceptable.

Sadly, building abcde with --HEAD does not work for me:

[2016-01-03 19:18] DomT4 commented on #47546
Thanks, that's useful.

Do you have Homebrew's `curl` installed/can you install Homebrew's `curl` and then try `/usr/local/opt/curl/bin/curl -I -v https://www.openssl.org/source/openssl-1.0.2e.tar.gz`?

[2016-01-03 19:26] manueljordan commented on #47546
Hello

I just _reinstalled_ Homebrew:

[code]

brew doctor

[code]
About install curl.

[code]

About your command:

[code]

I really appreciate your quick support.

[2016-01-03 19:30] chdiza commented on #47555
Probably this should be only displayed if `$HOMEBREW_VERBOSE` is set, right?

[2016-01-03 19:32] mikemcquaid commented on #47555
Yup :+1:

[2016-01-03 19:59] DomT4 commented on #47546
Thanks. Give me an hour or so, going to poke around a VM to flesh out a hunch.

[2016-01-03 19:59] bfontaine commented on #47640
We could maybe set `ENV["PYTHONDONTWRITEBYTECODE"] = "1"` to avoid that?

[2016-01-03 20:26] koxmoz commented on #47538
I try it all. updates, can't install wget (same error), fix the python warning... I think I broke something or was broke before. Because I can't compile a gcc file.. If you no have any idea, I just re install the os...

[2016-01-03 20:35] gaming-hacker commented on #47580
"git pull", generally when i add a library to ffmpeg, in reinstall from source, ie,  i force everything to build from --HEAD

yes ffmpeg tried to pick it up, which is why it gives this result when x265 is linking to the webp lib
"_glutLeaveMainLoop", referenced from:
_HandleKey in vwebp-vwebp.o
"_glutSetOption", referenced from:
_main in vwebp-vwebp.o

i'll try to build it again this morning.

[2016-01-03 20:39] mistydemeo commented on #47538
Can you please provide the `brew gist-logs m4` output? This doesn't have all the info we need to troubleshoot.

[2016-01-03 20:41] gaming-hacker commented on #47580
ok, i rebuilt with
brew reinstall ffmpeg --with-webp --with-x265 --with-faac --with-fdk-aac --with-dcadec --with-ffplay --with-fontconfig --with-freetype --with-frei0r --with-libass --with-libbluray --with-libbs2b --with-libcaca--with-libquvi--with-libsoxr --with-libssh--with-libvidstab --with-libvorbis --with-libvpx --with-opencore-amr --with-openjpeg --with-openssl --with-opus --with-rtmpdump --

[2016-01-03 20:41] #47580 closed

[2016-01-03 20:47] gaming-hacker commented on #47580
FYI, there are quite a few ffmpeg options +15  that brew doesn't include in building which i include in my own dev version, these brew options are really old

[2016-01-03 20:52] RandomDSdevel commented on #47269
@UniqMartin:  The reason I said what I did is because I'm not just a novice when it comes to hacking Homebrew, but also when it comes to programming in general.  I know enough about certain pieces of software to use them properly, but not when it comes to dealing with all of the nitty-gritty internal details.  That being the case, what you recommended sounds like it might actually prove to be a re

[2016-01-03 20:57] tdsmith commented on #47640
Either way; filtering has a small risk of filtering out messages we actually care about and setting `PYTHONDONTWRITEBYTECODE` doesn't. Morally, filtering feels a little better because it doesn't change the behavior of the interpreter for the test, but that seems like an unlikely source of bugs.

[2016-01-03 21:02] DomT4 commented on #47546
https://github.com/Homebrew/homebrew/pull/47646

Essentially, needing Homebrew's `curl` on 10.8 and below is likely to become a thing.

It looks like OpenSSL's server (Along with a bunch of GNOME ones now) rejects anything below TLSv1.1 and Mountain Lion's curl is capped at talking SSLv3 in handshake and TLSv1.0 for connection.

[2016-01-03 21:04] DomT4 commented on #47546
As for the build error, I thought that was fixed by https://github.com/Homebrew/homebrew/blob/master/Library/Formula/openssl.rb#L25-L34. Hmm.

[2016-01-03 21:17] koxmoz commented on #47538
no logs https://gist.github.com/koxmoz/59536e730a38b92486bd#file-gist-logs

[2016-01-03 21:21] mikemcquaid commented on #47640
:+1:

[2016-01-03 21:27] mistydemeo commented on #47538
Oh, it looks like it was building xz when it failed. Try `brew gist-logs xz`.

[2016-01-03 21:50] koxmoz commented on #47538
https://gist.github.com/6a068d5cc691cc286e0d

[2016-01-03 21:54] mistydemeo commented on #47538
It looks like the compiler crashed while building a test program:

[code]

Are you using a hackintosh?

[2016-01-03 22:05] mikemcquaid commented on #47538
Or a VM?

[2016-01-03 22:16] koxmoz commented on #47538
yes its a hackintosh...

[2016-01-03 22:34] mistydemeo commented on #47538
Unfortunately the error you're seeing is something we see a lot on Hackintoshes, and we're not really able to provide any advice for it. Sorry! :( Hope you can get it sorted.

[2016-01-03 22:34] #47538 closed

[2016-01-03 23:15] zmwangx commented on #47555
I like this feature, so I implemented this in #47649.

[2016-01-04 02:16] nathanredblur commented on #47082
I have the same issue, @mikemcquaid, where I must run that command? (path?)

[2016-01-04 02:44] yan12125 commented on #47555
Great job :+1: @zmwangx's patch works for me. I'm kind of curious:

[2016-01-04 02:55] azdavis opened #47654 "Feature request: a way for `brew list` to show how things were `brew installed`"
If, for example, one were to `brew install grep --with-default-names` and then `brew list`, it would simply be reported as `grep`. It would be nice if `brew list` could keep a record of how kegs were installed and be able to express that, perhaps with an argument like `brew list --as-installed`.

[2016-01-04 02:57] DomT4 commented on #47654
It sounds like you might find https://github.com/Homebrew/homebrew-bundle interesting, if you're attempting to retain options across installs/etc.

[2016-01-04 03:16] #47643 closed

[2016-01-04 03:16] DomT4 commented on #47579
Why, out of curiosity?

[2016-01-04 03:31] azdavis commented on #47654
That does look useful, thanks. It would be nice, though, if one could `brew list > Brewfile`, then subsuquently `brew install $(cat Brewfile)`.

I'll go ahead and close this, but if I ever get around to learning Ruby well enough to contribute, I'll think about submitting a PR. Thanks!

[2016-01-04 03:31] #47654 closed

[2016-01-04 03:42] DomT4 commented on #47654
No worries. Certainly feel free to file a PR if you ever wish to, we'd more than welcome that!

[2016-01-04 03:42] rdpoor commented on #45260
FWIW, I came here looking for a solution.  While I was reading the thread, the brew continued, about seven minutes after getting hung.  Maybe it went out for a pint.

[2016-01-04 08:12] tofagerl commented on #42249
How do I install the 2.0.1 version? I tried using NPM syntax, i.e. brew install phantomjs@2.0.1, but that was no go.

[2016-01-04 08:12] gaming-hacker opened #47657 "building static lib with gcc5.3 error"
building a fortran library and during

gcc/5.3.0/bin/gcc-ranlib-5: Cannot find plugin 'liblto_plugin.so'

all of the source compile to objects
$(STATICLIB): objects
	$(AR) $(ARFLAGS) $@ $(OBJECTS_F)
	$(RANLIB) $@

if i use the **OSX** *ar* and *ranlib*

$(STATICLIB): objects
	ar $(ARFLAGS) $@ $(OBJECTS_F)
	ranlib $@

lib builds without issue.  i searched the entire gcc5.3 branch and the plugin is

[2016-01-04 08:49] mikemcquaid commented on #47579
I can't remember exactly but because the headers can be slightly different and, for us, it ends up creating software which depends on the Xcode header locations (which aren't static between versions) rather than CLT locations (which are).

[2016-01-04 08:50] mikemcquaid commented on #47654
You can `brew bundle dump` and `brew bundle` which does the same thing.

[2016-01-04 08:52] mikemcquaid commented on #47657
To help us debug this issue can you explain:
- What you were trying to do (and why)
- What happened
- What you expected to happen
- Step-by-step reproduction instructions (with as minimal input data as possible)

Please be more explicit in your bug reports and provide command output that you've run; it's not at all clear as-is. Thanks!

[2016-01-04 08:57] mikemcquaid commented on #47082
@nathanredblur Just `/usr/local` would work too. Thanks!

[2016-01-04 10:12] #47555 closed

[2016-01-04 11:30] gentlecat commented on #47604
Thanks, works now.

[2016-01-04 12:03] obihann commented on #47167
@mikemcquaid If you could defork my branch, that would be amazing. Thanks!

[2016-01-04 12:22] mikemcquaid commented on #47167
https://github.com/obihann/archey-osx is now deforked. Thanks @apjanke and @obihann!

[2016-01-04 12:22] #47167 closed

[2016-01-04 12:44] ilovezfs opened #47664 "brew update -v can print mangled command, which manually produces "'update' is not a git command""
In brew update -v output ...
[code]

but run manually ...

[code]

[2016-01-04 12:47] mikemcquaid commented on #47664
That's probably because we're handling quoting and you're not. Is there a bug actually running `brew update`)?

[2016-01-04 12:50] ilovezfs commented on #47664
Nope, brew update itself is fine. It's the pretty printed verbose output that shows the command in a mangled form.

[2016-01-04 12:50] UniqMartin commented on #47664
Yes, `user.name=brew update` is supposed to be a single argument, but we don't go to the trouble of properly shell quoting the arguments just for the sake of our verbose output.

You can have a look at [`Utils.system`](https://github.com/Homebrew/homebrew/blob/d947a9dea238df4fdf460ba28e856725342090e4/Library/Homebrew/utils.rb#L193-L196) if you'd like to change that. We welcome a PR that improves t

[2016-01-04 13:17] #47664 closed

[2016-01-04 13:19] philippelatulippe opened #47667 "itstool cannot find libxml2 python module"
libxml2 is a keg-only package, so the python modules are not on the python path, even though OSX does not supply a libxml2 python module. As a result, itstool cannot be run without setting the python path manually.

[code]

[2016-01-04 13:28] DomT4 opened #47668 "libgit2 broken on Yosemite"
This is pretty much a self-notation to go look at this later.

`libgit2` is no longer building on Yosemite since at least a week or so ago. Before that it was passing okay, so perhaps we've broken something there.

[code]

[2016-01-04 15:10] niksy opened #47673 "`brew cleanup` warns about undefined variable"
Running `brew cleanup` warns about undefined variable.

[Gist with information](https://gist.github.com/niksy/dbdb7db04346449e9efe)

[2016-01-04 15:17] manueljordan commented on #47546
Hello DomT4

Thanks a lot by your valuable support. I did the following:

[code]
And

[code]

About `brew install ruby` I have the following error:

[code]

I have no idea what is wrong.

I don't know if

[code]
Have some clues...

BTW: Some months ago, I have tried to install through Homebrew `wine`. I had some problems about its installation process (a lot of `make` and finally an error - I don'

[2016-01-04 15:18] #47673 closed

[2016-01-04 15:19] UniqMartin commented on #47673
Thanks for the report! This should be fixed after a `brew update`.

[2016-01-04 15:25] manuel-zulian opened #47674 "giter8 installation cannot download dependency"
Using the command "brew install giter8" the installation is successful, however at the moment of starting it for the first time with "g8" the download of the dependencies fails with this message

    unresolved dependency: net.databinder.giter8#giter8_2.10;0.6.9: not found

Manual installation via conscript works fine. However, manual installation installs version 0.6.8, while brew installs versio

[2016-01-04 15:33] niksy commented on #47673
:+1:

[2016-01-04 15:55] azdavis commented on #47654
Thanks @mikemcquaid, that's exactly what I'm looking for. I guess I didn't read @DomT4's link closely enough to understand.

[2016-01-04 16:32] craigcarnell commented on #47335
Still happens for me even with 500M, seems random. Percona server is latest, edited /etc/my.cnf

[2016-01-04 18:51] cstyan commented on #40653
I'm getting this error same error in OSX 10.10 using xcode 6.4, just wondering if upgrading OSX and xcode is going to be easier than tracking down the cause in OSX 10.10/xcode 6.4.

[2016-01-04 19:20] jasonholloway opened #47681 "Erlang linked to wrong OpenSSL on OSX 10.6.8"
Just spent two days (and one night) pulling my hair out with the Erlang package, trying to get it so that its crypto library would load without erroring. Running ```crypto:start().``` would immediately fail, as similarly documented [here](https://trac.macports.org/ticket/45114).

The problem was/is that the Homebrew formula states a dependency on OpenSSL 1.0.2, while Erlang itself indirectly links

[2016-01-04 19:37] ceedave opened #47682 "qgis failed to build on OS 10.10.5"
Hello,

The log reported qgis_gui build than crashed with an (uninformative) error message.

Brew doctor reported all okay except possible problems with case-sensitive OS.

Brew was updated, upgraded and pruned before the attempted build.

Many, many other brew formulae work beautifully (thanks!).

Gist log at:
https://gist.github.com/ceedave/2b9e8ea71bac458d5dc1

Thanks,
Chris

[2016-01-04 20:01] jadams103 opened #47684 "Error: undefined method `strip_prefix' for "homebrew-cask":String"
Running 'brew update' without sudo errored with the following (I know I shouldn't need or want to use sudo but...something changed):

[code]

So...being in a hurry....sudo to the rescue (right...)

[code]

Information on my running environment:

[code]

[code]

[2016-01-04 20:23] gaming-hacker commented on #47657
my initial response is already complete, what is ambiguous?

1. compiling fortran code library because i need high performance quad precision routines, compiled
2. your gcc build is missing a library
3. to have build all of the library plugins
4. compile any .f source files,  use gcc-ar-5, gcc-ranlib-5.  it will fail because lto plugin was not built

[2016-01-04 20:24] mistydemeo commented on #47684
Most likely fixed by 6f7f407410cd6028295b936bb3b847d7ce567cdc.

[2016-01-04 20:25] #47684 closed

[2016-01-04 20:26] gaming-hacker opened #47685 "get the size of shell window when running command, respect term size"
i need to see what the hell is actually going on with configure, especially when the command lines are insanely long.  grab the env of the shell and parse the line to something that can be see

instead of  this
==> ./configure --prefix=/Users/me/abrew/Cellar/flac/1.3.1 --mandir=/Users/me/abrew/Cellar/flac/1.3.1/share/man --enable-sse --enab

[2016-01-04 20:32] mistydemeo commented on #47685
You can see the detailed logs in the logs directory, e.g. `~/Library/Logs/Homebrew/flac`.

[2016-01-04 20:32] gaming-hacker opened #47686 "building flac with --HEAD bombs"
when building from HEAD  you need to comment or ignore these lines

adds universal flags to the generated libtool script
inreplace "libtool" do |s|
 s.gsub! ":$verstring\"", ":$verstring -arch #{Hardware::CPU.arch_32_bit} -arch #{Hardware::CPU.arch_64_bit}\""
end

also where are not other options available?
--enable-local-xmms-plugin --enable-doxygen-docs .... rpath?

for 64 bit builds you need to

[2016-01-04 20:39] dipu opened #47687 "Brew update gives error"
I am having issues with brew update. I have put `brew update`,`brew config` & `brew doctor` output into this gist. https://gist.github.com/dipu/1d1977962fb4f2a4d640

[2016-01-04 20:47] UniqMartin commented on #47687
Can you try if running `brew update` a second time resolves the issue for you. If not, can you please post the output of `brew update --verbose`?

[2016-01-04 21:14] bfontaine commented on #47685
Use `--verbose` to see the complete commands.

[2016-01-04 21:38] mistydemeo commented on #47657
Can you give us an exact list of steps to reproduce, please? I'm able to build Fortran libraries and programs using Homebrew's GCC.

The Homebrew GCC's `ar` and `ranlib` have been broken like this for a number of versions, so we probably should nto be installing them. Is there a reason you need these tools and not the system `ar` or `ranlib`?

[2016-01-04 21:41] mikemcquaid commented on #40653
Yes, it will be.

[2016-01-04 21:45] DomT4 commented on #47687
In this case the problem seems to be that you have a bunch of unexpected modifications to the `homebrew-versions` tap locally. If you didn't intend those modifications you may wish to do:

[code]

See if the error persists after that. Please do note if you've intended non-upstream changes to your local `homebrew-versions` clone that command will wipe them.

[2016-01-04 21:51] DomT4 commented on #47686
If they don't apply on `head` we'd welcome a PR to wrap that element in a `if build.stable?` block. It'd be useful to know why that block isn't necessary/desired though (?).

We don't supply every option under the sun for every formula for many reasons. Some don't work, some are never used and thus aren't worth the maintenance burden, some behave in unexpected ways, etc. If an option is valuable a

[2016-01-04 22:20] postalservice14 opened #47690 "httpie - Feature - Include Bash Autocomplete script"
It would be cool if the brew install command would give instructions on adding the `httpie-completion.bash` file to your `.bash_profile`.  The completion script is on the root of the repository: https://github.com/Homebrew/homebrew/blob/master/Library/Formula/httpie.rb

[2016-01-04 22:32] cstyan commented on #40653
I simply upgraded Xcode and that fixed the issue.  So this issue is independent of OSX version.

[2016-01-04 22:48] gaming-hacker opened #47691 "building kvazaar from head"
[kvazaar.zip](https://github.com/Homebrew/homebrew/files/77812/kvazaar.zip)

the original brew formula only builds a binary, no pkgconfig, no libs.,  so it is unless for ffmpeg

so i heavily the formula to get it to work with head and build 64-bit
you modify your current or formula or not, i don't care but this one works

[2016-01-04 22:59] #47691 closed

[2016-01-04 23:07] gaming-hacker commented on #47686
i didin't go into the src to heavily but since i've been building flac from my own personal repo for a while and i've never had to use those switches i only build 64bit so i knew to comment them out.  most would probably assume that since flac has not rolled out a new version, still at 1.31 that there are no updates but there are quite often.

this lib, x264,x265 and most of the a/v libs, i build

[2016-01-04 23:07] #47686 closed

[2016-01-04 23:20] gaming-hacker commented on #47657
i can buld the libs but not with gcc tools, using osx tools yes.

with this missing 'liblto_plugin.so you will never be able to do link time optimization which for generic routines means nothing and you can live without it, my routines are heavily optimized, number crunching beasts.

no reason to use gcc tools, i just expected since i did a full gcc build that all of the tools would be there, i ha

[2016-01-04 23:22] gaming-hacker commented on #47685
cool i'll try that.

[2016-01-04 23:22] #47685 closed

[2016-01-05 00:43] mattdipasquale opened #47695 "brew upgrade ruby leaves cruft?"
I did `brew upgrade ruby` to upgrade from Ruby 2.2.3 to Ruby 2.3.0.

But, I still see files & directories that seem to be cruft left over from Ruby 2.2.3.

Can I safely `rm -rf /usr/local/lib/ruby/*/2.2.0`?

If so, perhaps `brew upgrade` should do this for me automatically or at least include a caveat.

[2016-01-05 00:45] bfontaine commented on #47695
`brew cleanup` will do that for you.

[2016-01-05 01:39] cmayer commented on #46337
Thanks - and sorry for not following all steps!

 A DYLD_LIBRARY_PATH variable was set and pointed to outdated libraries causing the test to fail.

[2016-01-05 05:05] dipu commented on #47687
@UniqMartin Thanks for your reply. I have already tried brew update many times but did not help.

@DomT4 Thanks a lot. I did "cd $(brew --prefix)/Library/Taps/homebrew/homebrew-versions && git fetch && git reset --hard origin/master" and it seems to have solved my problem. Output below:

cd $(brew --prefix)/Library/Taps/homebrew/homebrew-versions && git fetch && git reset --hard origin/master
remo

[2016-01-05 07:42] patrickkidd commented on #37591
I am not familiar enough with brew to cast a vote in either direction of single or multiple formula. But as an experienced qt and pyqt developer at the professional level, I will suggest that it is indeed very common to use multiple installations of many versions of qt, and subsequently pyqt

I hope that helps. I’m looking forward to a pyqt5 formula that works with qscintilla2!

[2016-01-05 08:18] mikemcquaid commented on #47695
Also, we don't remove files we didn't install e.g. RubyGems.

[2016-01-05 08:18] #47695 closed

[2016-01-05 09:14] mikemcquaid commented on #47690
It should just be a matter of adding `bash_completion.install "httpie-completion.bash" or similar. Could you try and open a pull request? This should help and I'm happy to walk you through anything else: https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-To-Open-a-Homebrew-Pull-Request-(and-get-it-merged).md#how-to-open-a-homebrew-pull-request-and-get-it-merged

Thanks!

[2016-01-05 09:20] mikemcquaid commented on #47687
@dipu Closing this now if it's working, thanks!

[2016-01-05 09:20] #47687 closed

[2016-01-05 10:14] azag0 commented on #47210
Was dealing with the same problem and discovered this issue which solved it. Maybe Homebrew could warn about this?

[2016-01-05 10:27] mikemcquaid commented on #47210
@azag0 Yeh, I'm thinking I need to extend the `pour_bottle?` DSL to also include a `:reason` which is printed to users.

[2016-01-05 12:56] telemachus opened #47710 "New warnings when upgrading"
As of this morning, when I run `brew update`, I'm told:

[code]

The problem seems to be a set of man files for items that Homebrew itself installed. If I follow the recommended command, git says that I'm up to date but that there are (now?) untracked files.

Is this related to changes in what git commands are run when the user calls `brew update`? Any suggestions for how to quiet things down? Tha

[2016-01-05 13:03] mikemcquaid commented on #47710
Can you let me know which these are so I can figure this out? Thanks!

[2016-01-05 13:16] batic commented on #47682
I confirm - I get the same error.

[2016-01-05 13:26] telemachus commented on #47710
@mikemcquaid Sure. Here's a gist: https://gist.github.com/telemachus/3ecc1ac3a9b16787e1c6

[2016-01-05 13:39] bfontaine commented on #47710
I got a similar list of files today as well. I `git-clean`ed them (I probably removed a bunch of manpages but that’s not a big issue for me); but when I run `brew update` `share/man/man1/brew-cask.1` keeps getting created:
[code]

We didn’t modify `.gitignore` recently so I’m not sure what to check.

[2016-01-05 13:40] mikemcquaid commented on #47710
@bfontaine @telemachus What is your `git` version, out of interest? What if you rerun with `/usr/bin/git`?

[2016-01-05 13:45] gothicpurple commented on #47710
@mikemcquaid I've been experiencing the same problem just after the git update through Homebrew. My version now is 2.7.0

[2016-01-05 13:45] telemachus commented on #47710
@mikemcquaid I just updated git yesterday. Current version: `git version 2.7.0`. Using `/usr/bin/git` gives essentially the same output (though slightly different look to the warnings): https://gist.github.com/telemachus/b84839f658b162a6f549

[2016-01-05 13:46] mikemcquaid commented on #47682
@batic Can you also paste your Gist log?

[2016-01-05 13:47] mikemcquaid commented on #47710
@telemachus I'm wondering if `git status` produces the same result on the latest Git. I suspect Git 2.7.0 parses our `gitignore` differently.

[2016-01-05 13:48] gothicpurple commented on #47710
This is the output I'm getting if running `git status`:

`On branch master`
`Untracked files:`
  `(use "git add <file>..." to include in what will be committed)`

	`share/man/man1/brew-cask.1`

`nothing added to commit but untracked files present (use "git add" to track)`

[2016-01-05 13:49] mikemcquaid commented on #47710
@gothicpurple Can you compare the `/usr/bin/git status` and `git status` output? Thanks!

[2016-01-05 13:49] telemachus commented on #47710
@mikemcquaid Good call: https://gist.github.com/telemachus/164db393c0ebca60b95a

[2016-01-05 13:49] xu-cheng commented on #47710
If it could be any help, [this](https://github.com/git/git/blob/master/Documentation/RelNotes/2.7.0.txt#L48-L50) could be the source. Also [this blog](https://developer.atlassian.com/blog/2016/01/git-2.7-release/) highlights some major change in Git 2.7.

[2016-01-05 13:52] gothicpurple commented on #47710
@mikemcquaid :
When running `/usr/bin/git status`:
`On branch master`
`nothing to commit, working directory clean`

When running simply `git status`:
`On branch master`
`Untracked files:`
`(use "git add <file>..." to include in what will be committed)`
`share/man/man1/brew-cask.1`
`nothing added to commit but untracked files present (use "git add" to track)`

[2016-01-05 13:55] batic commented on #47682
https://gist.github.com/batic/17ae745923f9369722f4

Basically it is the same as yours.

[2016-01-05 13:55] mikemcquaid commented on #47710
@xu-cheng Yeh, it appears this is really badly broken; `!/bin/brew` now unignores everything in `bin/`

[2016-01-05 14:10] #47710 closed

[2016-01-05 14:44] mikemcquaid commented on #47710
Reported this regression to Git: http://www.mail-archive.com/git@vger.kernel.org/msg83203.html

[2016-01-05 14:48] bfontaine commented on #47710
Thanks Mike!

[2016-01-05 15:06] gothicpurple opened #47716 "Aircrack-ng 1.2 still not available on Homebrew"
Hello there, Aircrack-ng 1.2 is out
http://www.aircrack-ng.org/downloads.html
and I reckon it's the final release (not a beta).
As my knowledge, the beta had several compatibility issues on Mac OS X but now (reading around the website) there are no such things as conflicts between Aircrack-ng 1.2 and OS X.

[2016-01-05 15:08] #47716 closed

[2016-01-05 15:09] gothicpurple commented on #47716
From the website.
Important information:
This version requires you to develop your own DLLs to link aircrack-ng to your wireless card (it will not work without).
The required DLLs are not provided in the download and there will be no support for them.

That's maybe why. Forget I said anything.

[2016-01-05 15:37] mikemcquaid commented on #47668
Sounds like CMake SDK stuff?

[2016-01-05 15:40] DomT4 commented on #47668
Aye, probably. It's newish as far as I know, I seem to remember `libgit2` passing through CI fine a couple weeks back, so I suspect either Misty's Xcode SDK tweak or my CMake tweak broke something.

[2016-01-05 15:46] craigcarnell commented on #47335
Same issue with mysql 5.7

[2016-01-05 15:46] bfontaine commented on #47716
If you think it should be updated you could make a pull-request to Homebrew. This should help and I’im happy to answer any question you might have: https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-To-Open-a-Homebrew-Pull-Request-(and-get-it-merged).md
Thanks!

[2016-01-05 16:21] mikemcquaid commented on #47682
@batic I'd like to see your `doctor` output too?

[2016-01-05 16:22] DomT4 commented on #47668
Currently poking around a Yosemite VM. Doesn't reproduce with pure CLT, but that was mostly expected.

[2016-01-05 16:23] mikemcquaid commented on #47668
@DomT4 Mind reverting your change locally and see if that fixes it? Bonus points if you have time to test Misty's.

[2016-01-05 16:23] xpayn opened #47722 "Add pkcs11 support in openvpn formula"
pkcs11 support is needed when you want to use a crypto hardware like a smartcard with openvpn client
There's currently no option in the formula to enable it.

[2016-01-05 16:23] Midar opened #47723 "android-sdk wants to download stuff during install"
Hi!

I'm trying to install android-sdk, however, it seems that it's trying to execute
[code]
during build. IMHO, this is a really bad idea, because this circumvents the hash just verified after downloading and makes installing the SDK in an open WiFi an extremely bad idea (I haven't looked into it in detail, but I guess it's pretty much remote code execution).

Would it be possible to change the r

[2016-01-05 16:23] DomT4 commented on #47668
Working on it. Currently downloading Xcode on the local VM since CLT alone is fine, and both mine and Misty's changes touched primarily the Xcode situation.

[2016-01-05 16:24] mikemcquaid commented on #47722
Could you try and open a pull request? This should help and I'm happy to walk you through anything else: https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-To-Open-a-Homebrew-Pull-Request-(and-get-it-merged).md#how-to-open-a-homebrew-pull-request-and-get-it-merged

Thanks!

[2016-01-05 16:25] mistydemeo commented on #47668
Is this occurring on a CLT+Xcode system? I'm wondering, judging from the listed error, if there's a conflict between headers included from the SDK and the headres in `/usr/include`.

[2016-01-05 16:26] mikemcquaid commented on #47723
It's not doing remote code execution but it isn't checking hashes. Out of interest: why would you trust `android` to install anything after build if you don't trust it during installation?

You could work out what `android` is going to download/extract and do it manually yourself with `resource`s instead. Could you try and open a pull request? This should help and I'm happy to walk you through any

[2016-01-05 16:26] DomT4 commented on #47668
Aye; It reproduces on the CI which are all dual-dev-tool systems. I was thinking the same thing in terms of header clash, but wasn't sure whether it was my change or your's that would be more likely to cause it. Once Xcode is downloaded I'll poke about with some reverts locally.

[2016-01-05 16:27] Midar commented on #47723
I was not aware that this is pretty much required. So, I guess there would need to be options on which SDKs to include and pre-install them?

[2016-01-05 16:28] mszymczak opened #47725 "duplicity ssh backend scheme not supported"
Hey,

yesterday I did update duplicity from `v0.6.26` to `v0.7.06` using `brew upgrade` command and my backup script stopped to work.

I'm trying to debug this and I'm getting:
[code]

Version:

[code]

OS:
[code]

I also tried to check `collection-status` using `scp://` and I'm getting "empty collection" in this path (which is not true, collection exists).

Please advise.

Thanks,

[2016-01-05 16:29] Midar commented on #47723
It seems to download build tools, so as soon as you execute them, attacker-injected code will be executed. So, it is "delayed remote code execution" at best.

[2016-01-05 16:34] mikemcquaid commented on #47723
Again I'd repeat the argument that if you don't trust `android` to download stuff I don't see what difference it makes doing it after installation.

[2016-01-05 16:36] Midar commented on #47723
The difference is that android doesn't check hashes - if I'm not going to download anything with android, I can download it as resources, which are verified. What am I missing here that you think it makes no difference? I am unfamiliar with the SDK, which might be why I am confused. Does it download unverified files every time you build something, or why does it make no difference if you download

[2016-01-05 16:38] #47557 closed

[2016-01-05 16:39] mikemcquaid commented on #47723
I have no idea what verification it does/doesn't do and whether it uses/does not use SSL. It requires downloading Platform Tools (and other things) to essentially do anything. Regardless, though, if you have strong feelings: we'd accept a PR that makes it use `resource`s instead.

[2016-01-05 17:03] DomT4 commented on #47668
Should have an answer finally in about 15 minutes. My 100MB/s connection is currently providing 2.3MB/s :see_no_evil:

[2016-01-05 17:28] vikas027 commented on #41253
@Drewshg312 I also had a similar issue. Renaming file `/etc/ssl/certs/ca-certificates.crt` helped me. Thanks @tdsmith .

[2016-01-05 17:29] DomT4 commented on #47668
Hurrah, reproduced the failure locally. It was my fault, apparently. Tested 10+ CMake using formulae without issue, but not this particular one, le sigh. Reverting, one sec.

[2016-01-05 17:32] #47668 closed

[2016-01-05 17:33] DomT4 commented on #47668
The original issue around CMake SDK selection will return, alas, but it was at least known. Need to find a better method to do that in a specific way, only passing the path if the system is Xcode-exclusive or something.

[2016-01-05 17:36] magicgoose opened #47729 "i2p needs an update"
`Library/Formula/i2p.rb`
Formula's version is 2 releases behind the last release: https://geti2p.net/en/blog/post/2015/11/19/0.9.23-Release

[2016-01-05 17:37] mikemcquaid commented on #47668
Sounds sensible :+1:

[2016-01-05 17:38] mikemcquaid commented on #47729
Could you try and open a pull request? This should help and I'm happy to walk you through anything else: https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-To-Open-a-Homebrew-Pull-Request-(and-get-it-merged).md#how-to-open-a-homebrew-pull-request-and-get-it-merged

Thanks!

[2016-01-05 17:40] DomT4 commented on #47729
See https://github.com/Homebrew/homebrew/pull/46623.

Feel free to open your own PR, but there's an issue there with the test killing the CI connection temporarily that means the test needs some rewriting.

[2016-01-05 17:47] magicgoose commented on #47729
hmmm, I don't know why I did not found that pull request. I'm sorry for that.

[2016-01-05 18:15] Edwardzyc opened #47731 "Homebrew install without changing permissions on folders"
Is this possible?

[2016-01-05 18:16] mattdipasquale commented on #47695
@bfontaine thank you for replying and suggesting `brew cleanup`.

It removed:

* `/usr/local/Cellar/ruby/2.2.3`
* `/Library/Caches/Homebrew/ruby-2.2.3.el_capitan.bottle.tar.gz

but not:

* `/usr/local/lib/ruby/gems/2.2.0`
* `/usr/local/lib/ruby/site_ruby/2.2.0`
* `/usr/local/lib/ruby/vendor_ruby/2.2.0`

I even ran `brew cleanup --force -s` to no avail.

I noticed in `man brew` that I could've also

[2016-01-05 18:31] mattdipasquale commented on #47695
@mikemcquaid thank you for answering my question.

Perhaps Homebrew should allow a way to remove files installed by its packages. For example, the ruby formula could provide a function that removes all installed gems, and users could run such functions by adding options to the `cleanup` &  `upgrade` commands.

Since this option doesn't exist now, how can I do this manually? Would executing `rm -rf

[2016-01-05 18:45] jasonholloway commented on #47681
Worth noting that the MacPorts ticket linked to above reports this affecting 10.7.5 too...

[2016-01-05 19:39] mistydemeo commented on #47681
I think the issue here is a difference between older and newer versions of OS X; newer versions of OS X are using Apple's own security framework instead of OpenSSL for those libraries. For example, libsasl doesn't link against OpenSSL on OS X 10.11.

[2016-01-05 20:08] praphull27 opened #47734 "perforce binary SHA256 mismatch"
What I tried:
brew tap homebrew/binary
brew install perforce

What I got:
==> Installing perforce from homebrew/binary
==> Downloading https://www.perforce.com/downloads/perforce/r15.2/bin.macosx105x86_64/p4
Already downloaded: /Library/Caches/Homebrew/perforce-2015.2.1311674
Error: SHA256 mismatch
Expected: 361b336973f00ca9bab41a50d4f36bc1807db33d93fdda1649afa5f7130c1e36
Actual: d22fb8d4863e4c8e7

[2016-01-05 21:42] bfontaine commented on #47695
@mattdipasquale Yeah I read too fast, Mike had the correct answer.

[2016-01-05 22:17] soxofaan opened #47737 "git-annex: no S3 remote support anymore with 5.20151218"
Hi,

I recently updated git-annex (from 5.20150731, to 5.20151218) and now my S3 remote doesn't work anymore. I get errors like

    git-annex: there is no available git remote named "s3"
    git-annex: Unknown remote type S3

If I run ```git annex version```, support for S3 remotes is indeed missing:

[code]

I downgraded again to the previous version I was using (`brew switch git-annex 5.2015073

[2016-01-05 22:17] soxofaan commented on #47737
this might be related to #47346

[2016-01-05 22:54] holiveros opened #47741 "gcc failed to build on 10.6.8"
Trying to install wine, build fails on gcc prerequisite.

Trying to install gcc via brew install gcc fails with:
[code]

Not an expert with building gcc, but seems as if a file were missing and/or an ignored ifdef/macro.

System is Snow Leopard (10.6.8), on a case-sensitive filesystem ;)

Also tried the same on a Mavericks (10.9) installation, no case-sensitive FS; works like a charm there.

Gist:

[2016-01-05 22:58] dunn commented on #47731
You could install Homebrew to a non-standard location that you already own, like `~/.homebrew`.  Sometimes Homebrew breaks when installed outside of `/usr/local`, though, and we don't officially support it: https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/Installation.md#alternative-installs

[2016-01-05 23:01] sentient06 opened #47742 "Qemu failed to build on 10.6.8"
Okay, first let me explain my environment, because it is a bit atypical:
I am running a Mac OS X 10.6.8 with XCode 3.2.1 *and* 4.2. My XCode 3 lives in `/XCode3` and my XCode 4 lives in `/Developer`.

Then I have gcc 4.8 installed from Homebrew. My fallback gcc is from XCode 3.

Now, I am trying to install Qemu. This is what I got:

https://gist.github.com/7760bfb21bbceaa1b291

And here are some s

[2016-01-06 00:12] xyziemba opened #47743 "Source archive referenced by hexedit formula has disappeared."
Formula hexedit references homepage http://rigaux.org/hexedit.html and source archive http://rigaux.org/hexedit-1.2.13.src.tgz. Both of these have disappeared, so the program is not installable. I was unable to find a new location for the source code to submit an updated formula.

[2016-01-06 00:40] DomT4 commented on #45317
Was fixed by https://github.com/Homebrew/homebrew/commit/9ee68c864165c6d82d991080ae5f5513cb9479e2.

[2016-01-06 00:40] #45317 closed

[2016-01-06 00:50] apjanke commented on #47734
Looks like they've made another release, and the version number and SHAs in the formula need to be bumped.

[code]

[2016-01-06 00:51] apjanke commented on #47734
There's already a PR for it over in homebrew-binary: https://github.com/Homebrew/homebrew-binary/pull/285

[2016-01-06 00:52] xaka commented on #46781
https://github.com/aws/aws-cli/releases/tag/1.9.16 is finally out with bash completion. Would you mind to integrate it please?

[2016-01-06 01:06] #47722 closed

[2016-01-06 01:30] DomT4 commented on #47734
Closed via https://github.com/Homebrew/homebrew-binary/commit/e0ce8dc363942179345b192b1603310de42ee7f4.

[2016-01-06 01:30] #47734 closed

[2016-01-06 01:37] manan19 commented on #46850
@FrankSansC :+1:

[2016-01-06 01:42] UniqMartin commented on #47668
The problem here is that the wrong `Availability.h` header gets picked up, which (unsurprisingly) doesn't define the macros the error messages are complaining about. (The messages are somewhat misleading.)

I believe the proper fix would be to make adjustments in `superenv`, which is basically undoing the effect of setting the CMake `-DCMAKE_OSX_SYSROOT=` flag by later killing the `-isysroot` flag

[2016-01-06 02:00] #47743 closed

[2016-01-06 02:01] DomT4 commented on #47743
Fixed by https://github.com/Homebrew/homebrew/commit/93428e5639a01592815fce4432ebe1c2c141af93. Added a Debian mirror for now.

[2016-01-06 02:07] DomT4 commented on #47674
Should be fixed with https://github.com/Homebrew/homebrew/commit/4662b5d98903a7a0709c4c4bd81dfd392e2f108c but feel free to shout if it isn't. Thanks for the report!

[2016-01-06 02:07] #47674 closed

[2016-01-06 02:45] DomT4 commented on #47681
Last release of OS X with a link to OpenSSL in `libsasl` was 10.9, FWIW. Everything since is against the Security Framework.

[2016-01-06 03:07] ilovezfs opened #47747 "brew outdated --json=v1 doesn't respect --quiet"
I don't know if this is intended behavior:

[code]

while the man page says,
[code]
which would seem to imply that it takes whatever output you would otherwise get, and formats it as json, as opposed to being a mutually exclusive option.

[2016-01-06 03:16] UniqMartin commented on #47747
Can you be a bit more specific what the issue is in your opinion? What do you expect to get from `brew outdated --quiet --json=v1` and how does the output violate that expectation?

[2016-01-06 03:17] ilovezfs commented on #47747
[code]

So I'd think the json wouldn't include the versions.

[2016-01-06 03:27] ilovezfs commented on #47747
More abstractly, --quiet vs. --verbose (content) seems orthogonal to --json (formatting).

[2016-01-06 03:27] UniqMartin commented on #47747
The JSON output is for use by external tools. It wouldn't be helpful if it changed based on the `--quiet` flag and if an external tool really doesn't need the version information, it's better to keep the format the same and discard the superfluous information on the receiving end.

If I understand you correctly, this is an imprecision in our documentation and you want it to state explicitly that r

[2016-01-06 03:30] ilovezfs commented on #47747
It could be addressed as either a documentation issue or a code issue, though I'd recommend treating it as a code issue. An analogy is diskutil list / diskutil list disk1; diskutil list -plist / diskutil list -plist disk1.

[2016-01-06 03:34] ilovezfs commented on #47747
Suppose you added "brew outdated --super-verbose." Which would the --json=v1 display? --verbose or --super-verbose?

[2016-01-06 03:49] UniqMartin commented on #47747
I have to disagree. `--json=v1` is supposed to always dump the full information (which it does) irrespective of other flags. It's up to the tool that uses this information to disregard some of it. The non-JSON output is mostly geared towards humans, so it makes sense to adapt it according to `--quiet` or `--verbose`.

I don't know what `--super-verbose` is supposed to be, but if it really adds add

[2016-01-06 03:58] UniqMartin commented on #47742
You can try building with `brew install qemu --cc=gcc-4.8`, but if that fails there's probably not much we can help you with.

[2016-01-06 03:59] ilovezfs commented on #47747
If you want to conflate content and formatting, that is certainly up to you, though it's contrary to how other tools behave such as Apple's -plist options and ZFS's -H options, so it's certainly not standard behavior.

In terms of whether you should be "this explicit," in the case of verbose vs quiet, you already are:

[code]

It was precisely because the same was NOT said about --json=v1 that I w

[2016-01-06 04:26] UniqMartin commented on #47747
I can't comment on ZFS, but `diskutil` doesn't even have flags to adjust the verbosity (except for `quiet` that doesn't have an effect on the commands you mention), so this comparison is moot. The `-plist` output always contains all the detail. `diskutil list -plist disk1` only outputs information on `disk1` and `brew outdated --json=v1 git` equally only outputs whether the `git` formula is outdat

[2016-01-06 04:38] ilovezfs commented on #47747
Yes, and you're correct.

http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap12.html

However, it also says,

So you've already jumped the shark in terms of allowing both --quiet and --verbose with a specification of precedence.

[2016-01-06 04:40] #47747 closed

[2016-01-06 04:42] ilovezfs commented on #47747
All is well. Cool.

[2016-01-06 04:44] roopa01 opened #47748 "Appstore dylibs path"
Hi,

 I am using some ffmpeg dylibs in my project for this i have successfully configured ffmpeg and created ffmpeg dylibs. when i rum macdeployqt command to make exe it creates Frameworks folder inside the app containing all  required dylibs and framworks . It works well in normal case exe runs successfully
it always pick dylibs from frameworks folder. But when i code signed this exe for appstore

[2016-01-06 04:44] DomT4 commented on #47742
If it works please let us know and we'll throw a `fails_with :gcc` into the formula.

[2016-01-06 04:47] ilovezfs commented on #47747
Though actually, since it doesn't say what happens when --json=v1 is passed in combination with other two, one of which does describe conflicting behavior, the results are technically still undefined based on the man page as it currently stands, so it might be worth noting that --json=v1 takes precedence over all others.

[2016-01-06 05:08] UniqMartin commented on #47747
Thanks for understanding!

We try to strike a balance between being brief and being accurate in our documentation. We generally appreciate PRs that improve our documentation, so feel free to submit something. (My gut feeling is that I wouldn't be the only one to reject a submission that details the precedence relation when it's already clear the options are not supposed to be combined in a single

[2016-01-06 05:24] ilovezfs commented on #47747
<blockquote>All is well. Cool.
<blockquote>Thanks for understanding!</blockquote>
</blockquote>
No problem.

<blockquote>If you feel passionate about the man page (and it seems you are)</blockquote>
I'm certain I often seem "passionate" or rude, when I'm just having fun arguing. In this case, it's a principle of least surprise issue. I expected --quiet --json to do one thing and it did something e

[2016-01-06 08:25] #47729 closed

[2016-01-06 09:16] #47731 closed

[2016-01-06 09:17] mikemcquaid commented on #46781
@xaka Could you try and open a pull request? This should help and I'm happy to walk you through anything else: https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-To-Open-a-Homebrew-Pull-Request-(and-get-it-merged).md#how-to-open-a-homebrew-pull-request-and-get-it-merged

Thanks!

[2016-01-06 09:23] xpayn opened #47754 "openvpn with pkcs11 support fails because of pkcs11-helper"
I managed to make it work thanks to this [post](http://www.sparklabs.com/forum/viewtopic.php?p=4806#p4823)
I think the solution is to add options in pkcs11-helper's formula and pass them in openvpn's dependency
I'll submit a PR later

[2016-01-06 09:29] mikemcquaid commented on #47754
Thanks!

[2016-01-06 09:56] mikemcquaid commented on #47748
Sorry, this is an issue with using Qt and developing OS X software and not a Homebrew issue.

[2016-01-06 09:56] #47748 closed

[2016-01-06 09:58] mikemcquaid commented on #47737
@soxofaan Could you try and open a pull request? This should help and I'm happy to walk you through anything else: https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-To-Open-a-Homebrew-Pull-Request-(and-get-it-merged).md#how-to-open-a-homebrew-pull-request-and-get-it-merged

Thanks!

[2016-01-06 09:59] mikemcquaid commented on #47695
Should do, yep.

`uninstall` hooks are something we've considered and passed on in the passed but thanks for the suggestion.

[2016-01-06 11:37] adambisek opened #47759 "homebrew/php/php55-memcached failed to build on 10.11.2"
<pre>
brew install homebrew/php/php55-memcached
==> Installing php55-memcached from homebrew/homebrew-php
Error: undefined method `<' for nil:NilClass
Please report this bug:
    https://git.io/brew-troubleshooting
/usr/local/Library/Homebrew/formula_support.rb:21:in `valid?'
/usr/local/Library/Homebrew/formula.rb:779:in `keg_only?'
/usr/local/Library/Homebrew/formula_installer.rb:125:in `block in

[2016-01-06 11:45] nijikon commented on #47754
:+1:

[2016-01-06 12:55] #47759 closed

[2016-01-06 12:57] adambisek commented on #47759
Sorry, homebrew was broken after update to El Capitan.

[2016-01-06 14:18] erikssone opened #47771 "Mac OS X and cpu-percentage"
I can see that Activity Monitor.app and `top` show the CPU usage stats, but htop seems to be in a world of it's own with the stats that it's reporting! This issue is present when I run htop with and without sudo.

[2016-01-06 14:46] yawara commented on #47771
I had a same issue and resolved it as follows:

[code]

Then you can execute `htop` properly without `sudo`.

[2016-01-06 16:04] erikssone commented on #47771
Thanks but that doesn't work no more. I did that "trick" on earlier versions and/or earlier versions of OS X.
Combo OS X 10.11.2 and htop 0.8.2.8 are still a miss cpu-usage wise https://dl.dropboxusercontent.com/u/2295771/htop2.png

[2016-01-06 16:11] mikemcquaid commented on #47771
@yawara We don't recommend `setuid` as it's terrible for security.

[2016-01-06 16:11] mikemcquaid commented on #47771
@erikssone This doesn't seem to be a Homebrew issue but is an issue with `htop` itself so I suggest you report it there.

[2016-01-06 16:11] #47771 closed

[2016-01-06 16:16] mistydemeo commented on #47771
Just as a note, our "htop" is a fork called [htop-osx](https://github.com/max-horvath/htop-osx). Please make sure you report bugs there and not to the original htop developer!

[2016-01-06 16:32] manueljordan opened #47776 "Is not possible install MySQL on Mountain Lion through Homebrew"
Hello

When I run `brew install mysql` (Mountain Lion - 10.8.5)

always remains in this way

[code]

Practically with
[code]

the console/terminal remains working for many minutes and the Mac fan is working a lot.
I must abort the process with "Ctrl + C".

The sound of the fan is strong and the time working is long (I never had this experience before through Homebrew)

Before I never had a problem

[2016-01-06 16:36] wuffi opened #47777 "Android Debug Bridge"
Hello everybody out there using homebrew,
There are two formulae installing android debug bridge - 'android-sdk' and 'android-platform-tool'
Unfortunately, both give me errors.
Running the adb command after installing android-sdk results in
"Segmentation fault: 11"
Running the adb command of android-platform-tool causes
"Illegal instruction: 4"
Can anyone of you replicate the problems?
My config o

[2016-01-06 16:37] DomT4 commented on #47776
`boost` is a new (build) dependency for `mysql`, so the delay you're seeing isn't actually coming from `mysql`. I'm not quite sure why you're getting the from-source install here rather than a bottle, which negates the build dependency.

Can you do a `brew update` and then `brew fetch boost -v` and `brew info mysql` and paste the output of each? Thanks.

If building Boost from source is intentiona

[2016-01-06 16:38] mistydemeo commented on #47776
We're no longer building binary packages for OS X 10.8; we only build binary packages for three OS X versions at a time. This means that, to install software on older versions, you have to build them from source.

The boost package is one of the dependencies required to build mysql, and it does take a very long time to build and a lot of CPU power. You can expect it to take 20-40 minutes; this is

[2016-01-06 16:39] DomT4 commented on #47776
Apologies. I'm an idiot. I forgot this temporarily :sweat:. I've amended my original comment accordingly.

[2016-01-06 18:19] dunn commented on #47777
Can you post `brew gist-logs android-sdk` and `brew gist-logs android-platform-tool`? Thanks!

[2016-01-06 18:36] mistydemeo commented on #47777
Looks like Google now requires OS X 10.8 or newer to run these tools.

[2016-01-06 20:05] DomT4 commented on #47777
@mistydemeo Worth just chucking a `depends_on :macos => :mountain_lion` into the formula?

[2016-01-06 20:49] soxofaan commented on #47737
@mikemcquaid: I'm too unfamiliar with haskell compiling and homebrew internals to dive into this, I'm afraid

[2016-01-06 20:55] gaming-hacker commented on #47269
what about this polly option?  is this stable or not?

[2016-01-06 20:57] mistydemeo commented on #47777
Pushed commits that add minimum OS version requirements.

[2016-01-06 20:58] #47777 closed

[2016-01-06 22:21] RandomDSdevel commented on #47269
@gaming-hacker:  Are you referring to Homebrew's LLVM formula's `--with-polly` option LLVM's `LLVM_EXTERNAL_POLLY_SOURCE_DIR` build variable?  I believe that the former only works with `--HEAD` builds, and I'm not sure how often the latter is used.

[2016-01-06 22:40] luisremis commented on #40391
Thanks ContinuedStory! That solved my issue!

[2016-01-06 22:47] gaming-hacker commented on #47269
the --with-polly option, i've already built from head without it and seem ok...  well so far

[2016-01-06 22:52] DomT4 commented on #47546
@manueljordan Can you provide a full `brew gist-logs openssl` there? Thanks. I suspect it's related to the outdated CLT warning, but will make it easier to check with a full debug log.

[2016-01-06 23:21] manueljordan commented on #47776
Thanks by the replies. Seems mandatory do an upgrade to the OS in general….
That's other history.

Thanks!

[2016-01-06 23:24] sparr opened #47791 "findutils updatedb fails on some filename encodings"
$ sudo updatedb
    /usr/bin/sort: string comparison failed: Illegal byte sequence
    /usr/bin/sort: Set LC_ALL='C' to work around the problem.
    /usr/bin/sort: The strings compared were `/LIBRARY/FONTS/ō\216Ɩ\207ǻ\206ɻ\221.TTF' and `/LIBRARY/FONTS/ō\216Ɩ\207ɻ\221Ľ\223.TTF'.

While I can set the environment variable that sort is looking for myself, I sorta expect updatedb to handle this for me.

[2016-01-07 00:20] UniqMartin commented on #47791
Can you please paste the output of `locale` and `env | egrep '^(LANG=|LC_)' | sort`? I suspect you're not using an UTF-8 locale which `sort` relies on to work correctly.

[2016-01-07 00:25] sparr commented on #47791
$ locale
    LANG="en_US.UTF-8"
    LC_COLLATE="en_US.UTF-8"
    LC_CTYPE="en_US.UTF-8"
    LC_MESSAGES="en_US.UTF-8"
    LC_MONETARY="en_US.UTF-8"
    LC_NUMERIC="en_US.UTF-8"
    LC_TIME="en_US.UTF-8"
    LC_ALL=
    $ env | egrep '^(LANG=|LC_)' | sort
    LANG=en_US.UTF-8

[2016-01-07 00:50] UniqMartin commented on #47791
Your locale settings seem to be fine. I'm afraid you just discovered a bug in either `updatedb` (or worse in Apple's `sort`), in which case we can't help. You could try searching if this is a known issue and if not, report it upstream. If all else fails, you might have to use the workaround suggested by `sort`.

[2016-01-07 01:07] sehrgut opened #47795 "`brew find` should be an alias of `brew search`"
Just like we all make `-u` and `-h` flags bring up the help/usage statement, allowing the search command to be invoked by both "search" and "find" just makes sense. It violates minimal-astonishment every time I type `brew find foo` and have to recast my command as `brew search foo`.

[2016-01-07 01:15] Kinnardian opened #47796 "Install PostgreSQL release candidate using homebrew?"
I need the new `UPSERT` feature from Postgres 9.5. Is there an easy way to install the release candidate[1] using homebrew?

[1] http://www.postgresql.org/about/news/1631/

[2016-01-07 01:52] rakkesh commented on #47796
[code]
So, you can install the release candidate using,

[code]

[2016-01-07 01:59] dcwar opened #47797 "gettext 0.19.7 does not build on 10.8.5"
Build fails with the following error on line 3666 of 02.make:

Undefined symbols for architecture x86_64:
  "_xmlOutputBufferGetContent", referenced from:
      __its_collect_text_content in libgettextsrc_la-its.o
  "_xmlXPathSetContextNode", referenced from:
      __its_get_content in libgettextsrc_la-its.o

Output of `brew gist-logs gettext`:
https://gist.github.com/anonymous/db25342d80d1d75e08f

[2016-01-07 02:06] Kinnardian commented on #47796
That worked! Thank you kindly.

[2016-01-07 02:06] #47796 closed

[2016-01-07 02:11] UniqMartin commented on #47657
Can you provide a minimal example (`Makefile` and some simple source file, preferably as a Gist) that shows the issue? This will make it much easier for us to understand the problem and to debug it. Thanks!

[2016-01-07 02:25] UniqMartin commented on #47625
As @DomT4 explained, fixing the option should solve the issue. Feel free to reopen if that's not the case.

[2016-01-07 02:25] #47625 closed

[2016-01-07 02:58] UniqMartin commented on #47164
It would be awesome if we can get our documentation to a point where it can be handled by <http://www.mkdocs.org/> and/or <http://readthedocs.org/>. This will then automatically take care of the table of contents.

:+1: I'm in favor of `resources` as this leaves us with more flexibility for the future. Maybe you want to tackle this bullet point first? It's relatively easy and will instantly improv

[2016-01-07 03:43] hbetts opened #47798 "Error: Failed to download resource "pod2man""
Getting the following error while LinuxBrew attempts to download `podlators`.

Filing issue against homebrew as the file doesn't exist on the archive site, and homebrew uses the same download path as linuxbrew.

Archive site: http://archives.eyrie.org/software/perl/

[code]

Possible solution is to upgrade the version URL to 4.04.

[2016-01-07 03:53] UniqMartin commented on #47798
Thanks for the report! I resolved the issue for now by fixing the download URL. (I guess it might take a little while until this ends up in Linuxbrew.) Feel free to submit a PR for the update to 4.04, if you like.

[2016-01-07 03:53] #47798 closed

[2016-01-07 03:58] UniqMartin commented on #47798
Never mind, there's already one I hadn't noticed: #47799.

[2016-01-07 04:37] zmwangx commented on #47164
Node is a big dependency, but Homebrew makes it a breeze to install :wink: Anyway, it should be easy to manually manipulate the generated TOC, as long as changes are incremental and relatively localized.

I Googled for a few minutes and hardly found anything. I did find out that GitHub's own Markdown implementation [repcarpet](https://github.com/vmg/redcarpet) does seem to have the ability to gene

[2016-01-07 05:14] eric3zhao opened #47801 "Error:File exists"
I want to update brew,but ....

brew update
Updated Homebrew from 6488f169 to 4ae26624.

Updated 1 tap (caskroom/cask).
Error: File exists - (../../../Library/Taps/caskroom/homebrew-cask/man/man1/brew-cask.1, /usr/local/share/man/man1/brew-cask.1)

what the meaning of this error?

[2016-01-07 05:27] #47801 closed

[2016-01-07 06:00] turtlepa commented on #47797
Also does not build on 10.7.5

[2016-01-07 06:26] zmwangx commented on #47346
This seems to be a problem with the bottle. I can verify that with bottled `git-annex` (the El Cap bottle):

[code]

But with a build from source `git annex webapp` works just fine. (I did a default build, i.e. without `--with-git-union-merge`.)

The bottling issue should better be fixed somehow, since a source build needs to build a gazillion Haskell packages, and it took me 26 min with eight thr

[2016-01-07 06:28] zmwangx commented on #47346
No, nothing's missing. The page lists libgnutls, libgsasl, libxml2, and zlib. libxml2 and zlib are shipped with OS X; gnutls and gsasl are listed as dependencies in the formula already.

[2016-01-07 08:04] m99coder commented on #46035
Is there any progress in that?

[2016-01-07 08:39] song314 opened #47804 "fail to install gphoto2 on the Mac"
Error: Failed to download resource "libpng"
Download failed: https://downloads.sf.net/project/libpng/libpng16/1.6.12/libpng-1.6.12.tar.gz

[2016-01-07 08:40] song314 commented on #47804
here I found the page   https://github.com/Homebrew/homebrew/issues/34587

[2016-01-07 08:40] #47804 closed

[2016-01-07 08:56] liweinan0423 commented on #47795
asdf

[2016-01-07 09:00] liweinan0423 commented on #47795
:+1:  `find` is easier to type than `search` as well :)

[2016-01-07 09:20] mikemcquaid commented on #47795
I'd suggest using this instead https://github.com/Homebrew/homebrew-aliases

[2016-01-07 09:20] #47795 closed

[2016-01-07 12:18] area opened #47806 "libjson-rpc-cpp bottle looking for wrong libmicrohttpd"
The bottled version of libjson-rpc-cpp is looking for:

    otool -L ./libjsonrpccpp-server.0.5.0.dylib
    /Users/alex/Downloads/libjson-rpc-cpp/0.5.0/lib/libjsonrpccpp-server.0.5.0.dylib:
    @@HOMEBREW_PREFIX@@/opt/libjson-rpc-cpp/lib/libjsonrpccpp-server.0.dylib (compatibility version 0.0.0, current version 0.5.0)
    @loader_path/libjsonrpccpp-common.0.dylib (compatibility version 0.0.0, curr

[2016-01-07 13:31] bfontaine commented on #47806
I regenerated the bottles; it should work after a `brew update`.

[2016-01-07 13:31] #47806 closed

[2016-01-07 14:56] mvkorpel commented on #47797
I get the same error when trying to `brew upgrade` on 10.7.5. I also tried building straight from the [gettext](https://www.gnu.org/software/gettext/) 0.19.7 source package, but that produced the same error. What worked for me was installing the Homebrew version of libxml2

    brew install libxml2

and then building gettext with

    ./configure --with-libxml2-prefix=/usr/local/opt/libxml2
    ma

[2016-01-07 15:13] #47797 closed

[2016-01-07 15:13] DomT4 commented on #47797
Yeah, it's the `libxml2` oldness that's the issue here. Checked it against GCC-5 in case there was some compiler weirdness there, but that wasn't the problem *for once*.

Fixed by https://github.com/Homebrew/homebrew/commit/66ed7b2ba71fa29fac600bc880d69d6f645db23c. Should be fine after a `brew update`.

[2016-01-07 17:04] edrozenberg commented on #45197
Note regarding building htop with default ncurses (version 5) from Mac OS X vs. ncurses (version 6) from homebrew:
* Building htop with default Mac OS X ncurses, scrolling with mouse inside htop does not work properly and causes htop to quit
* Building with a homebrew-installed ncurses (using the configure line with CFLAGS and LDFLAGS as described at the top of this issue), scrolling works properl

[2016-01-07 17:09] edrozenberg commented on #45197
@mikemcquaid Waiting on a release tag from htop, looks like will happen later this month (Jan 2016).

[2016-01-07 18:27] csstaub commented on #47346
This also works for me if I build from source. To avoid accidentally building git-annex without the webapp (and S3 support which is also missing in the bottle), the formula could explicitly pass the build flags to cabal to force them to be built. That way, the build would fail if something is missing or broken.

[2016-01-07 18:50] mikemcquaid commented on #47346
That's a good idea. Could you try and open a pull request? This should help and I'm happy to walk you through anything else: https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-To-Open-a-Homebrew-Pull-Request-(and-get-it-merged).md#how-to-open-a-homebrew-pull-request-and-get-it-merged

Thanks!

[2016-01-07 19:32] sentient06 commented on #47742
It worked! Wow, that was simple. Thanks!

[2016-01-07 20:36] #47742 closed

[2016-01-07 20:40] UniqMartin commented on #47742
Thank you for the confirmation, @sentient06! Should be fixed after a `brew update`.

[2016-01-07 22:22] sparr commented on #47791
reported upstream at https://savannah.gnu.org/bugs/index.php?46846

[2016-01-07 22:23] sparr commented on #47791
temporary workaround is to `export LC_ALL='C'` at the top of the updatedb script

[2016-01-07 22:42] UniqMartin commented on #47791
Thank you! Please let us know once the bug is confirmed upstream and there's a fix we can apply. We can add that to the formula until there's an update that contains the fix.

[2016-01-07 22:52] jorgehatccrma commented on #47180
Same here. I worked the second update attempt. I'm running OS X 10.10.5, git 2.4.5.

[2016-01-07 23:21] rtalexander opened #47827 "SHA256 mismatch..."
I'm getting the following error when trying to install `unzip`:

    $brew install unzip
    ==> Installing unzip from homebrew/dupes
    ==> Downloading https://downloads.sourceforge.net/project/infozip/UnZip%206.x%20%28latest%29/UnZip%206.0/unzip60.tar.gz
    ==> Downloading from http://10.100.0.241:15871/cgi-bin/blockpage.cgi?ws-session=984072911
    ############################################

[2016-01-07 23:27] bfontaine commented on #47827
I don’t have any issue here:
[code]

Do you use a proxy?

[2016-01-07 23:27] UniqMartin commented on #47827
It looks like you are redirected to a blocking page of your ISP or some other involved party. Can you check whether you can download any of these from your browser, e.g. <http://aescrypt.sourceforge.net/aescrypt-0.7.tar.gz>, and whether you can access <http://sourceforge.net/> at all?

The files are downloading fine here on my machine.

[2016-01-08 00:01] kfix commented on #42249
2.0.1 will never be released, the target for 10.11 support is PhantomJS 2.1: ariya/phantomjs#12970

[2016-01-08 03:25] ploxiln opened #47829 "upgrade does not remember build options when determining build deps"
I ran into this when upgrading cmake

[code]

On the other hand, maybe my system is just very confused about cmake (continuing console output)

[code]

(the list is thousands of files long - all of cmake's binaries, help pages, modules)

(I then made sure brew was fully up-to-date and it already was, ran brew-doctor and it didn't find anything notable, just that /usr/local/sbin was not in PATH and

[2016-01-08 07:24] sambrightman opened #47834 "Fortran requirements always install gcc"
I have `gcc5` installed from `homebrew/versions`. I do not want to automatically upgrade to GCC 6 when the `gcc` formula moves. If I try to install `octave`, it `depends_on :fortran` and tries to install `gcc`. GCC takes a long time to build and then fails to symlink due to gcc5 symlinks already being present. `octave`'s dependency on `arpack` fails at configure time as it does not find a working

[2016-01-08 08:04] zmwangx commented on #47346
Apparently the problem with that is the sheer number of flags. There are 25 flag in 5.20151218, and it's not clear which ones should be enforced. Also it will make this formula a hell to maintain, because flags seem to change rather rapidly. Comparing git master to 5.20151218, five flags have already been removed.

[2016-01-08 08:11] mikemcquaid commented on #42249
@kfix I think I may just ship 2.0.1 as-is.

[2016-01-08 08:20] mikemcquaid commented on #47834
When installing from bottles: yes, this is intentional. If using binary packages then install the formula they were built against (e.g. the `default_formula`) as a dependency because you cannot consistently just change the dependency after compilation and expect things to work.

This isn't going to happen, I'm afraid. We support using the latest version we package in the same repository. If you wa

[2016-01-08 08:20] #47834 closed

[2016-01-08 08:48] adin234 commented on #44004
any solutions?

[2016-01-08 09:34] area commented on #47806
This now works - many thanks.

[2016-01-08 11:02] gaming-hacker opened #47846 "Enhancement:: need --kitchen-sink, --bath-tub, --deep-end options"
formulas like ffmpeg, imagemagick, etc are too unwieldy, i always put every option
 brew install imagemagick --kitchen-sink  => install every Recommended & Optional from BOTTLE
 brew install imagemagick --bath-tub = >BUILD every Recommended & Optional  --build-with-source (where available)
 brew install imagemagick --deep-end => BUILD every Recommended & Optional --HEAD (where available)

this sho

[2016-01-08 11:21] gaming-hacker opened #47847 "enhancement: search by category or function"
add some metatags to the database, so it's possible to search by function, category.  say i wanted to find image processing, drones, etc instead of having to external search to find the formula

[2016-01-08 11:34] area opened #47848 "QT5 Frameworks not standalone when built with --with-d-bus"
I am currently trying to build `ethereum` through `homebrew` (see https://github.com/ethereum/webthree-helpers/pull/81 for the issues; the tap is https://github.com/ethereum/homebrew-ethereum/ ) and have now run into a problem with QT5. After `qt5` has been built (with the `--with-d-bus` flag) as a requirement, the `ethereum` brew builds correctly, and the brew successfully runs `make`. Unfortunat

[2016-01-08 12:03] area commented on #47848
This seems exactly like the bug reported at https://bugreports.qt.io/browse/QTBUG-50155 , so I guess this is a QT issue as I suspected, and not a problem for the `homebrew` team.

[2016-01-08 12:48] mikemcquaid commented on #47847
This is something that, like descriptions, would need to be done outside Homebrew as an external command and then brought into core when it's 100% complete. My personal view is that it's rarely useful because categorisation isn't generally obvious.

[2016-01-08 12:48] #47847 closed

[2016-01-08 13:20] Yann-R opened #47850 "Question about output of brew deps"
Hello,

I must be missing something but I am surprised to see that the resulting formulae listed by `brew deps formula` can become smaller when I add the format option `--tree`:
[code]
[code]
This difference does not appear clear to me from the manual page of brew that would just imply a matter of formatting:  _"If --tree is passed, show dependencies as a tree"_.
Moreover the "missing" formulae do

[2016-01-08 13:44] UniqMartin commented on #47850
You are right in that this is somewhat inconsistent. The first line of `brew deps --tree qt` hints at what is going on, as it reads `qt (required dependencies)`. `brew deps --tree qt` is more similar to `brew deps --skip-optional qt`. `brew info qt` will also help you figure out which of the direct dependencies are optional, recommended, or required.

True. Whether those dependencies are installed

[2016-01-08 14:33] Yann-R commented on #47850
@UniqMartin Thanks for the point about `--skip-optional`.
That gives a sense in this apparent inconsistency. Great.

[2016-01-08 15:50] sambrightman commented on #47834
I see. I'm still not really following how the requirement is "satisfied" by e.g. specifying FC environment variable, yet also requires an additional installation. What breakage would changing to `return false if req.satisfied?` cause?

What is the intended workflow to build using a specific GCC version? It looks like maybe this works without having to patch Homebrew itself:

    FC=/usr/local/bin/

[2016-01-08 15:57] sambrightman opened #47852 "--default-fortran-flags does not seem to work"
If specifying a custom Fortran compiler (e.g. with the `FC` environment variable), a warning is printed from `ENV.fortran`:

          No Fortran optimization information was provided.  You may want to consider
          setting FCFLAGS and FFLAGS or pass the `--default-fortran-flags` option to
          `brew install` if your compiler is compatible with GCC.

          If you like the default opt

[2016-01-08 16:25] bfontaine commented on #47847
You might want to try [homebrew-search](https://bfontaine.github.io/homebrew-search/) (disclamer: my project); it matches on descriptions and executables.

[2016-01-08 16:54] mikemcquaid commented on #47834
It'd break binary packages as described above because the Requirement is what's required to build but different things are/may be required at runtime.

Yes, this works.

Yeh, more-or-less, sorry.

[2016-01-08 18:17] RandomDSdevel commented on #47269
I'll add the `--with-polly` option to my list of LLVM formula options to evaluate when I start my tap, then.

[2016-01-08 19:08] aw1621107 opened #47857 "Should clang-omp be merged into the main llvm formula?"
Yes, yet another thing for the llvm formula :p

According to the [OpenMP/Clang github.io page](https://clang-omp.github.io/), OpenMP support has been "promoted" to [an official LLVM project](http://openmp.llvm.org/).

[2016-01-08 19:14] csstaub commented on #47346
As a compromise, we could just force the webapp flag to be on for now. I feel like most folks that use git-annex will probably want the webapp to be present. With the webapp being a core part of the app it won't go away anytime soon. Happy to submit a pull request for this once I can get to it over the weekend.

[2016-01-08 19:17] zmwangx commented on #47346
There's also another guy have problem with s3. #47737

[2016-01-08 19:17] aw1621107 opened #47858 "LLVM and libc++abi"
Related to #47149.

I've tried contacting the LLVM devs through their mailing list, but haven't gotten [any](http://lists.llvm.org/pipermail/llvm-dev/2015-December/093533.html) [response](http://lists.llvm.org/pipermail/llvm-dev/2016-January/093612.html).

There is a workaround that allows both libc++abi and libc++ to be built without issues, which is mentioned in the comments, but it requires pat

[2016-01-08 19:19] UniqMartin commented on #47269
@RandomDSdevel Just to save you from wasting time and getting frustrated, you might want to target the recently released LLVM 3.7.1 in your tap and keep an eye on the evolution of the [`llvm` formula in core](https://github.com/Homebrew/homebrew/blob/master/Library/Formula/llvm.rb) (e.g., the recently opened PR #47824) and the formulae in the [`homebrew/versions` tap](https://github.com/Homebrew/h

[2016-01-08 19:35] DomT4 commented on #47754
Merged the PR.

[2016-01-08 19:35] #47754 closed

[2016-01-08 19:37] aw1621107 commented on #47858
Actually, I just realized that they probably have a point; LLVM could be built anywhere, so I'm guessing that the INSTALL_NAME_DIR is set as it is because the programmer is expected to pass `-rpath` arguments to `ld` when compiling.

I think I'll just ask for the ability to set that path through CMake, which would solve our issue without making any assumptions about where LLVM was built.

[2016-01-08 20:08] DomT4 commented on #47829
I believe the `sphinx-doc` issue is a known bug in our dependency resolution at the moment, when people build from source rather than pour the bottles. @xu-cheng is working on it. There's some discussion in https://github.com/Homebrew/homebrew/pull/47816#issuecomment-169980730.

[2016-01-08 20:11] gaming-hacker commented on #47847
i don't see what it so hard about adding metadata tags, a "proper" formula should have keywords, yes?  add the ability to find/search the desc as well as formula.  all that is needed is to extend the search to grep the description and pipe that out to the shell, why is this so hard?

@bfontaine damn good page almost what i'm looking for.  can you extend this a little bit? say i was looking for gda

[2016-01-08 20:31] ploxiln commented on #47829
I appreciate that it's a tricky and not-most-common case. thanks

[2016-01-08 20:45] gaming-hacker commented on #47269
good you pushed the new changes and chopped up the formula a bit

i didn't see where in the llvm formula where it passes these args to polly
--enable-polly-gpu-codegen
--with-llvmsrc
--with-llvmobj
--with-cuda

[2016-01-08 20:48] sjackman opened #47861 "Failed test: brew tests TEST=test_caveats"
Am I doing something wrong here? `brew tests` succeeds as expected.

[code]

[2016-01-08 20:53] DomT4 commented on #47776
Is this resolved, or still working on it? Anything we can help with?

[2016-01-08 21:06] gaming-hacker commented on #47657
ok give a little time, i'm some issues with gcc 6 at the moment.  but the lto plugin is notorious for being difficult to build and get right.

[2016-01-08 21:27] mikemcquaid commented on #47847
It is harder than you think. Regardless, as I said before, if it's easy you should give it a go and we'll consider including it when it's working for all formulae.

[2016-01-08 21:35] mikemcquaid commented on #47346
@csstaub Sounds good

[2016-01-08 21:52] gaming-hacker commented on #47847
use Data::Dumper qw(Dumper);

my (%hash,%tmp);
my $result;

simple perl code

while (<DATA>)
{
  chomp;
   my ($key, $val)= split(/\s+/, $_);
   $hash{$key} = $val;
}
my @element=qw(0003cacf);
if(    grep {$hash{$_} } $element[0])  {
  if($hash{$element[0]}>=0.30){$result=1.0;}else{$result=0.0;}
  }

[2016-01-08 22:06] andradei opened #47865 "Why does Homebrew install Python as a dependency?"
Thanks for Homebrew, it is awesome.

I already have a local installation via `pyenv` etc. Why is Homebrew not checking for their presence when updating/installing, say, Postgresql? I don't want to have duplicate installations of Python.

Is this a bug? Can it be avoided?

[2016-01-08 22:21] bfontaine commented on #47861
It’s because some test files don’t `require` the necessary core modules and instead rely on their global availability. It’s ok for `brew tests` but the ability to test a specific file is very recent.

[2016-01-08 22:34] solomonty commented on #41789
Why was this closed? Was it fixed?

[2016-01-08 23:20] UniqMartin commented on #47857
I'd say we have to keep `clang-omp` until we've managed to update the core `llvm` formula to 3.7.x (see #47824 for a recently started effort). Once done, we can retire `clang-omp` and move it to the [boneyard](https://github.com/Homebrew/homebrew-boneyard).

[2016-01-09 01:20] apjanke commented on #44004
Hi @samertm. You were the original author of the `srclib` formula. Do you remember how you got the SHAs for the go resources, especially `sourcegraph.com/sourcegraph/go-flags`, and whether something might have invalidated that commit?

We could probably just switch to using whichever reversion of that resource was (now retroactively) the latest as of the time of the srclib 0.0.42 release.

And the

[2016-01-09 01:32] apjanke commented on #44004
Removing 10.11 label. It's not 10.11-specific; it's just that 10.11 didn't have a bottle built for it, and this is a build-time failure, so that's where it showed up.

[2016-01-09 01:36] apjanke commented on #44004
Here's a PR that does so: #47870.

`brew test srclib` is failing for this. I don't think this is a regression, though, because `brew test srclib` fails with the same issue with existing formula on 10.9 for me.

[code]

Anybody know how to fix this? Is it appropriate to just `git init .` the test directory?

[2016-01-09 02:10] #47667 closed

[2016-01-09 02:35] DomT4 commented on #41789
Don't think so. It was closed because none of the team members know how to solve this particular issue and once an Issue drops off the frontpage of the repo nobody who isn't a team member will go looking for or find it. We still welcome a PR from anyone if it's an issue and they wish to fix it.

[2016-01-09 02:47] sjackman commented on #47861
Thanks, Baptiste.

[2016-01-09 03:14] gaming-hacker commented on #47857
i want to see swift integrate openmp libs.

[2016-01-09 03:15] gaming-hacker commented on #47858
rpath can be problematic

[2016-01-09 04:14] gaming-hacker opened #47879 "libtool and imagemagick:: building module support"
i'm building multi-lib 8/16/32 libs for imagemagick and it's choking on libltdl which manages modules

imagemagick config
checking for libltdl...
checking ltdl.h usability... yes
checking ltdl.h presence... yes
checking for ltdl.h... yes
checking for lt_dlinit in -lltdl... no

i built libtool from head

nm -gU libltdl.dylib |grep lt_dlinit
50:0000000000001880 T _lt_dlinit

so the function is in th

[2016-01-09 04:20] apjanke commented on #46267
Okay, let's try this one more time, with a PR that picks up more of the post-1.4 patch: #47880

This time I dug out a cd player and was able to test it successfully.

[2016-01-09 05:03] dunn commented on #47850
See #41841 and #41947 for some previous discussion.

[2016-01-09 05:26] dunn commented on #47865
We have a special `:python` dependency that should be satisfied by non-Homebrew Pythons.  I assume it's in your `PATH` at the time of installation?

[2016-01-09 05:37] dunn commented on #47846
Not sure what you mean here; bottles use the default options, and any change means a source build.

For the other flags, some recommended options conflict with optional options (like LibreSSL vs OpenSSL); how would the conflict resolution work?

[2016-01-09 05:59] andradei commented on #47865
I have `$HOME/.pyenv/bin` and `$HOME/.pyenv/shims` on my `PATH`. I also have `/usr/local/bin` which is where system's Python is.

[2016-01-09 07:21] DLaboratory commented on #47625
Thanks! It's my carelessness.

[2016-01-09 09:02] strugee opened #47884 "OfflineIMAP formula doesn't install example configuration files"
Normally OfflineIMAP's example configuration files get installed somewhere in `/usr/share` (maybe `/usr/share/doc`), but under Homebrew, I can't find them anywhere, including `/usr/local/share` and the Cellar.

[2016-01-09 09:22] xu-cheng commented on #47829
@DomT4 This bug seems to be a different one compared with #47816

[2016-01-09 09:27] mikemcquaid commented on #47847
@gaming-hacker We don't use Perl and any changes would need to be submitted as a pull request to Homebrew core.

[2016-01-09 09:39] pramodsrao opened #47885 "Unable to install homebrew on my mac"
Mac version --> OS X Yosemite - 10.10.5

When I run the following command I get these results. how do i resolve my local usr user not on sudoers file.

Last login: Sat Jan  9 04:19:50 on ttys001
MACC02PTNUGG8WP:~ fca71ca$ ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
==> This script will install:
/usr/local/bin/brew
/usr/local/Library/...
/usr/local/shar

[2016-01-09 09:39] #47861 closed

[2016-01-09 09:39] mikemcquaid commented on #47858
@gaming-hacker It's not clear what you mean: please elaborate.

[2016-01-09 09:39] mikemcquaid commented on #47879
Sorry but you have not followed the requested steps on the Troubleshooting page: https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/Troubleshooting.md#troubleshooting

Please follow (all of) these steps and post the information here so we can help you with your problem.

Thanks!

[2016-01-09 09:40] mikemcquaid commented on #47879
And also: to help us debug this issue can you explain:
- What you were trying to do (and why)
- What happened
- What you expected to happen
- Step-by-step reproduction instructions (with as minimal input data as possible)

As an aside, I've had to ask this a few times @gaming-hacker. Please spend a bit more time on the new issues you open, thanks.

[2016-01-09 09:41] #47850 closed

[2016-01-09 09:42] mikemcquaid commented on #47865
It is. Are you sure this isn't another formulae?

[2016-01-09 09:43] mikemcquaid commented on #47884
It should be a matter of doing `share.install` in the `install` method. Could you try and open a pull request? This should help and I'm happy to walk you through anything else: https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-To-Open-a-Homebrew-Pull-Request-(and-get-it-merged).md#how-to-open-a-homebrew-pull-request-and-get-it-merged

Thanks!

[2016-01-09 09:44] mikemcquaid commented on #47885
You need to be an administrator to install into `/usr/local`, unfortunately. You should ask whoever has administrator rights on your machine to install Homebrew for you.

[2016-01-09 09:46] pramodsrao commented on #47885
correct. can't add my username to sudoers. this is an office mac. let me try on my personal mac.. checked sudoers file. owned by root. I am not root on this mac...

MACC02PTNUGG8WP:etc fca71ca$ ls -l sudo*
-r--r-----  1 root  wheel   257 Jul 25 00:34 sudo_lecture
-r--r-----  1 root  wheel  1275 Sep  9  2014 sudoers

[2016-01-09 09:48] mikemcquaid commented on #47885
You don't need to be `root` but you do need to be able to run `sudo` commands. If it's in your office: I suggest asking your IT department to install Homebrew.

[2016-01-09 09:54] mikemcquaid commented on #47737
@soxofaan No worries, thanks anyway!

[2016-01-09 09:56] pramodsrao commented on #47885
ok will try that. Thanks for quick responses. BTW, I was able to install on my personal mac.

[2016-01-09 10:03] mikemcquaid commented on #45197
@edrozenberg Great!

[2016-01-09 10:13] pramodsrao commented on #47885
I got homebrew installed. Now I need to install a specific version 5.10.11 of apache-activemq. when I give the install apache-activemq command, it is installing the latest version which is 5.10.12. see below.

Pramods-MacBook-Air:~ Pramod$ brew install apache-activemq
==> Downloading https://www.apache.org/dyn/closer.cgi?path=/activemq/5.11.2/apache-activemq-5.11.2-bin.tar.gz
Error: Failed to down

[2016-01-09 10:32] mikemcquaid commented on #47885
We don't support installing specific versions, sorry.

[2016-01-09 10:32] #47885 closed

[2016-01-09 10:35] #47622 closed

[2016-01-09 11:12] mikemcquaid commented on #42249
I tried, failed: https://github.com/Homebrew/homebrew/pull/47835. Anyone else: feel free to pick that up and we'll consider merging 2.0.1.

[2016-01-09 13:12] DomT4 commented on #47885
If you need a specific version we recommend creating your own tap for them. There's documentation on doing that [here](https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-to-Create-and-Maintain-a-Tap.md). It's relatively simple and will be the easiest way for you to grab the functionality you wish to.

[2016-01-09 14:05] DomT4 commented on #47846
We have turned down similar suggestions to this before because there are plenty of options that can't or shouldn't be built on top of each other. I'm not sure that's a problem that can be easily worked around.

[2016-01-09 15:19] orbifx commented on #43861
I didn't try it in the end, but it seems like a valid solution.

[2016-01-09 15:49] rlhelinski commented on #38359
I am having this problem now after updating to Brew 7e70d89, a clean bill of "brew doctor" health, and OSXFuse 2.8.2. It started with brew updating and upgrading. Please help! Thanks

$ brew gist-logs encfs
https://gist.github.com/fe5ca11182c1fddf7377

[2016-01-09 16:08] dunn commented on #47725
Can you try building Duplicity outside of Homebrew, to see if it might be an upstream issue?

[2016-01-09 16:17] ikirudennis commented on #46957
I finally got a chance to try building this.  But it's a bit difficult to figure out if I'm doing something wrong or if it just doesn't work.  The issue I'm having is that rtorrent needs the matching libtorrent version in order to build.  And when I try to build libtorrent it fails almost immediately with an error about a missing file (tr1/functional, if anyone's curious).  So I don't know if I'm

[2016-01-09 16:21] ainstushar commented on #46957
Not sure if my issue is related to this one or not, here's what I get when i run ``brew install rtorrent``

[code]

Building from source I get:
[code]
Hopefully that helps.

[2016-01-09 17:26] andradei commented on #47865
From my logs, it downloaded Python as a dependency right before updating Postgresql. I'm going to uninstall both and reinstall again to read/share the logs.

[2016-01-09 17:38] andradei commented on #47865
Sorry this is long, but towards the middle `sqlite` and `python` are installed as dependencies for the Postgresql upgrade I believe:

Another thing I noticed is that `sqlite` is keg-only (used only for brew-installed stuff? But this is another topic...).

Here's the logs pertaining to this issue:

[code]

[2016-01-09 17:45] von commented on #46267
Tested and looks good. Thanks!

[2016-01-09 17:51] uxp opened #47899 "search command is eval-ing contents of Alias files."
I'm not exactly sure what is going on here.

[code]

[Library/Aliases/gearmand](../tree/master/Library/Aliases/gearmand) appears to be the correct format (a text file who's contents are the relative path to the canonical formula file). `gearmand` appears to be the only file that matches the string of `arm`:
[code]

My instinct is pointing to `module_eval` inside [Library/Homebrew/formulary.rb](../

[2016-01-09 18:08] DomT4 commented on #47899
See https://github.com/Homebrew/homebrew/issues/36706#issuecomment-73775085. I suspect that could well be your issue.

[2016-01-09 18:09] UniqMartin commented on #47899
That's not the correct format. It should be a symbolic link pointing to the formula (like all files in `Library/Aliases/`). Can you check if that's the case? I suspect something else went wrong, maybe during a `brew update`. Is there something special about your `git` or its configuration on your system? Have you altered the `core.symlinks` configuration value of `git`?

[2016-01-09 18:10] andradei commented on #47865
Additional info: pyenv had activated latest Python 3 prior to running `brew upgrade` maybe that's the reason why Python 2 was installed?

[2016-01-09 18:25] mszymczak commented on #47725
Hey I've done build from sources (`duplicity-0.7.06` and python module `lockfile-0.12.2`) and the problem still exists.

[code]

[2016-01-09 18:31] uxp commented on #47899
Interesting. I think I do have an issue where all the files in `Library/Aliases` are standard text files, and not symlinks. There should be nothing special about my `git`, but it is the Apple distributed version and not an overridden version. `core.symlinks` was not set to any value.

I've been having issues after upgrading to OS X to El Capitan and not re-installing all my installed formulas, so

[2016-01-09 18:31] #47899 closed

[2016-01-09 18:45] dunn commented on #47725
Thank you! That suggests it's a problem that should be reported to the Duplicity developers.  If you could do that we'd be very grateful.

[2016-01-09 21:30] gaming-hacker commented on #47846
i don't see whatever the env var in the formula that controls the type of build ( --HEAD --build-from-source --bottle ) doesn't get passed to the dependencies instead of default.  you can't launch the process with  brew install ${dependency#1) $1,  brew install ${dependency#2} $1....

i do this with bash now, i never let brew install dependencies by itself, as i never know what the default for any

[2016-01-09 21:51] gaming-hacker commented on #47858
depending on the library, who built it or ported it, how well or if maintained, it get problematic with dynamic libs.  if dynamic lib was built with gnu gcc on osx but didn't include rpath or -flat_namespace -undefined suppress or  -undefined,dynamic_lookup and just used dynamic flag, there are flakey issues finding the lib.

[2016-01-09 21:55] gaming-hacker commented on #47879
i found it in the imagemagick api

[2016-01-09 21:55] #47879 closed

[2016-01-09 22:38] #47846 closed

[2016-01-10 00:10] tonydspaniard opened #47904 "r"

[2016-01-10 00:10] #47904 closed

[2016-01-10 00:25] geoffwalmsley commented on #42249
Install fails:

brew install phantomjs

phantomjs: This formula either does not compile or function as expected on OS X
versions newer than Yosemite due to an upstream incompatibility.
Error: An unsatisfied requirement failed this build.

C'mon guys - this is pretty basic stuff

[2016-01-10 01:36] UniqMartin commented on #47852
Thanks you for this report! Your analysis is quite spot-on. The flag isn't properly propagated down to the build environment. I'll make sure to fix this soon.

[2016-01-10 01:37] imrook opened #47905 "git-annex failed to build on 10.6.8"
Installation of the Hakell Platform is currently blocked by https://github.com/Homebrew/homebrew/issues/47244 for me, so I installed via the OS X binary packages and linked using `brew link` `brew info git-annex` reports that all dependencies are satisfied, however the install fails because cabal can't find the ghc binary: https://gist.github.com/633d362da5c90158faf2.

[2016-01-10 01:57] jcoyne commented on #42249
@geoffwalmsley that's rude and not helpful

[2016-01-10 02:01] #47852 closed

[2016-01-10 02:04] UniqMartin commented on #47852
This should be fixed after running `brew update` and no longer output this confusing message.

[2016-01-10 02:15] geoffwalmsley commented on #42249
@jcoyne is there an expectation that brew will not keep pace with major os releases as the error I posted seems to suggest?

[2016-01-10 02:23] imrook commented on #47905
Clearly the problem has to do with `ghc` not being in the `PATH`. I'm not that great with homebrew yet, so I'm attempting to add `/usr/local/bin` to the path during building with the following patch: https://gist.github.com/imrook/945fc807703ca0deff23. I'll follow-up after the build completes.

[2016-01-10 02:39] jcoyne commented on #42249
@geoffwalmsley Sorry, I'm not a maintainer, I don't know the answer to that. I was just here to report the error I saw.

[2016-01-10 02:56] dunn commented on #42249
May be a good time to remind everyone of our code of conduct: https://github.com/Homebrew/homebrew/blob/master/CODEOFCONDUCT.md

As the error message says, PhantomJS 2.0 doesn't build on El Capitan due to an _upstream_ incompatibility.  It's not because we're dragging our feet on supporting 10.11, and it's why we're looking for ways to release 2.0.1 as soon as possible: https://github.com/Homebrew

[2016-01-10 03:40] cbeaton commented on #46566
I ran into the same error as  @ssreekanth today after installing brew for the first time.
I modified /usr/local/Library/ENV/4.3/pod2man as below:

#!/bin/bash
POD2MAN=$(/usr/bin/which pod2man5.18 || /usr/bin/which pod2man5.16 || /usr/bin/which pod2man5.12 || /usr/bin/which $HOMEBREW_PREFIX/opt/pod2man/usr/bin/pod2man || echo /usr/bin/pod2man)
#POD2MAN=$(/usr/bin/which pod2man5.18 || /usr/bin/which

[2016-01-10 04:04] aw1621107 commented on #47858
@gaming-hacker libc++abi is part of LLVM, so I'd assume it's pretty well maintained. The rpath issue does have a solution in this particular case, but I'm trying to talk to a LLVM dev to see if there is something I can do upstream.

And would libstdc++ be an issue on OS X? I'd imagine that everything is set to use libc++ by default.

[2016-01-10 04:13] mistydemeo commented on #47858
Looks like pod2man installs into the wrong location on 10.6:

[code]

vs

[code]

[2016-01-10 04:23] aw1621107 commented on #47857
@gaming-hacker Add an OpenMP option to the Swift formula, or for Swift to support OpenMP in general?

[2016-01-10 04:26] mistydemeo commented on #47858
(Sorry, wrong issue.)

[2016-01-10 04:26] mistydemeo commented on #46566
Looks like pod2man installs into the wrong location on 10.6:

[code]

vs

[code]

[2016-01-10 04:27] mistydemeo commented on #46566
Should be fixed now.

[2016-01-10 04:27] mistydemeo commented on #46566
You'll need to reinstall pod2man, then can you try installing wget again?

[2016-01-10 04:35] aw1621107 commented on #47269
@gaming-hacker

--enable-polly-gpu-codegen
--with-llvmsrc
--with-llvmobj
--with-cuda

Are `--with-llvmsrc` and `--with-llvmobj` needed? LLVM seems to build just fine without them, and at least at first glance those look like autoconf flags and I believe the LLVM devs are phasing autoconf out in favor of CMake.

I'm not familiar with the other two; the only place they showed up in a quick Google se

[2016-01-10 04:40] aw1621107 commented on #47269
@RandomDSdevel

I would imagine Homebrew wouldn't add any of the Debug-related builds. To me, Debug builds are primarily for developer use, and if a dev is hacking on LLVM/other parts then I would expect that they would work from a local copy of the LLVM sources.

I'm not very sure on the details myself, but it's something like building LLVM once with profiling instrumentation, running it on some

[2016-01-10 05:00] DomT4 commented on #42249
I can't write that error message to be any *more* obvious; It's an *upstream* issue, not a Homebrew one. We can't magically wave a wand here and "make it work". As we've said, someone can feel free to pick up on where Mike's PR was left and we'll review it.

Can we please keep this Issue on point. If you have solutions we more than welcome them.

[2016-01-10 05:13] krishicks opened #47909 "conflicts_with doesn't work with references to untapped taps"
We recently moved a tap from one repository to another, and renamed it as well. We received a PR to add a conflicts_with line for the old tap, which seemed legitimate until we received a complaint that someone who had just tapped the new tap wasn't able to install the formula: https://github.com/cloudfoundry/cli/issues/726

`conflicts_with` works if you have the original tap tapped, but not otherw

[2016-01-10 05:21] jacqueline-homan opened #47910 "Unable to get Homebrew working (and also rails and postgres) after trying to do `brew upgrade postgres`"
Here is a gist file of my terminal output:

https://gist.github.com/jacqueline-homan/243a352ad37ec267d797#file-unable-to-get-homebrew-postgres-and-rails-working

[2016-01-10 05:40] #46267 closed

[2016-01-10 05:40] apjanke commented on #46267
Okay! I've merged the PR with the new patch. Everybody `brew update; brew upgrade` and I think *now* we'll be good.

The patch uses commits that are already in upstream master, so future `cd-discid` releases should have this fix and the Homebrew patch will no longer be needed.

[2016-01-10 05:44] dunn commented on #47910
It looks like psql is already running; what happens if you do `psql -d postgres`?

[2016-01-10 05:48] glyph opened #47912 "'brew info --json' doesn't properly reflect built-as-bottle state"
Steps to reproduce:

I install Gimp with `brew reinstall gimp --build-bottle`

To make sure I did it right, I `brew bottle gimp`; it works.

Then, `brew info gimp --json=v1 | jq .[0].installed[0].built_as_bottle` outputs `null`.

[2016-01-10 06:24] DomT4 commented on #47909
I'm pretty sure this is working-as-intended. When you declare a `conflicts_with` against another file we attempt to load that file when the formula is called, so if there's no file to load it *should* error. This is the same reason in the core we don't have `conflicts_with` against problematic formulae in our taps.

Whether or not you want to debate the design of the mechanism is open, but I think

[2016-01-10 06:44] cbeaton commented on #46566
I discarded my changes, deinstalled pod2man and wget, pulled your commit, and then ran 'brew install wget'  and it succeeded.   Thank you!

[2016-01-10 06:48] krishicks commented on #47909
I would like to debate the design.

If A conflicts with B and B is installed, fail to install A. *In all other scenarios, A should be installed.*

It would seem to me that this feature was implemented specifically to get around conflicts in things in homebrew core, not in other taps which may not even be tapped. See https://github.com/Homebrew/homebrew/commit/2814e3a9fa88acf262062a26af15d87dc9f572

[2016-01-10 06:48] glyph opened #47914 "'brew info --json' doesn't distinguish between optional and required dependencies"
This information is available from `brew info` but if you're trying to consume it in a machine-readable way it's just "dependencies".

[2016-01-10 07:04] #44004 closed

[2016-01-10 07:05] apjanke commented on #44004
The resource revision change worked (#47870) and I've merged it, without updating to the newer srclib release. `brew install srclib` should work again on all OS X versions now; let us know if you still have failures.

Anybody want to take a stab at updating to the current srclib version, feel free.

[2016-01-10 07:13] ilovezfs commented on #47912
This was caused by a "race" between two commits.
bash-3.2$ git log -n1 --format=%ai 33442291229d692fbdf05c3f4c03878fc64ea759
2012-08-15 22:08:40 -0500
bash-3.2$ git log -n1 --format=%ci 33442291229d692fbdf05c3f4c03878fc64ea759
2012-09-17 20:01:37 -0500
bash-3.2$ git log -n1 --format=%ai 8837423a5a9643cf1b2e824c9a31cc72a78c516b
2012-08-25 11:31:57 -0700
bash-3.2$ git log -n1 --format=%ci 8837423a5a

[2016-01-10 07:43] apjanke commented on #47164
@zmwangx:

I like this idea too. Both the per-page TOC and `doctoc` – if I understand it correctly, it just inserts a TOC into the local Markdown document, so it'll degrade gracefully for editors that don't have it, and will be usable for offline viewers as well.

Well, at least it ain't TeX. ;)

<img width="379" alt="screen shot 2016-01-10 at 2 39 40 am" src="https://cloud.githubusercontent.com/a

[2016-01-10 08:05] zmwangx commented on #47164
Actually you may choose to install a basic distribution with a limited set of packages, whose installer http://tug.org/cgi-bin/mactex-download/BasicTeX.pkg is only 112605547 bytes long. I always recommend the full distribution, though.

+1. I always find local, static documentation nice to have; online documentation is a plus when you have a good connection and know where it is, or need to link to

[2016-01-10 08:55] apjanke commented on #47164
I've done BasicTeX before, and it seems like a fine product, but all of the particular TeX use cases I have always seem to need something that's not in it.

And for the record, I'm not really dissing TeX here. TeX is awesome and I'll give 5 GB for what it gives me. That doesn't go for the rest of you software developers out there, though!

No disagreement as such. As far as authoring formats go, i

[2016-01-10 09:16] frickler01 commented on #46566
@mistydemeo Great job, thanks a lot!

[2016-01-10 09:16] zmwangx commented on #47164
Anecdote: Many years ago when I was still using Windows and just started learning TeX, I installed a MikTeX *basic* distribution, and the outcome was horrible... Never dared a basic distribution again.

Yep, no argument here. But Homebrew's always up-to-date nature makes it hard to distribute compiled documentation. Including both source and build product in the repo is no-no. You can add logic to

[2016-01-10 10:07] rgujral-ari commented on #47026
Saw this problem today, full logs attached https://gist.github.com/5ae5a1a808047d8ebc89

[2016-01-10 11:32] nijikon commented on #37837
@Caperr Can you please check if this is still an issue?

[2016-01-10 11:37] glyph commented on #47912
@ilovezfs thanks for tracking this down!

[2016-01-10 12:20] mikemcquaid commented on #42249
@geoffwalmsley Could you try and open a pull request? This should help and I'm happy to walk you through anything else: https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-To-Open-a-Homebrew-Pull-Request-(and-get-it-merged).md#how-to-open-a-homebrew-pull-request-and-get-it-merged

Thanks!

[2016-01-10 12:24] #42249 closed

[2016-01-10 14:49] telemachus opened #47926 "luarocks and lua upgrade questions"
luarocks has just had [a major update to 2.3.0](http://lua-users.org/lists/lua-l/2016-01/msg00055.html), and now that luarocks is installed with lua, I'm wondering how to handle this.

1. Would a pull-request to upgrade only the luarocks part of the lua
   formula be of interest?
2. Or is the plan to only upgrade luarocks when the lua formula itself is
   updated.
3. Semi-related to that, I'm not

[2016-01-10 14:52] DomT4 commented on #47926
Yup. You can `revision` the `lua` formulae as well so people actually get it. We won't revision for every bump, but the major ones are a better idea than not.

Nope.

Because 5.3 is *horribly* incompatible with almost all of the software using Lua 5.2, even without going into the world of Luarocks generally being slow to update. Ref: https://github.com/Homebrew/homebrew/pull/47766

[2016-01-10 15:18] DomT4 commented on #37837
I doubt this Issue is going to spring back into life. I suspect it's still the case that this fails to build on 10.6 and below. We have VMs available, I'll try to set one up later and check.

[2016-01-10 15:33] nijikon commented on #37837
So maybe let's just close it and take a look when it comes up again.

[2016-01-10 15:39] DomT4 commented on #37837
It seems kinder to check first, given if it is broken we can just stick an OS X version check in.

[2016-01-10 15:40] mistydemeo commented on #37837
This was fixed in Tigerbrew via 81d2c80f8b771b4eb757a1a4fd458779b00654ce; it works on 10.4 and 10.5 using that.

[2016-01-10 15:41] DomT4 commented on #37837
@mistydemeo Thanks Misty. Worth adding to Homebrew for 10.6 as well in your opinion, or?

[2016-01-10 16:23] imrook commented on #47905
After modifying my path as in the above comment the build gets farther, but cabal fails to install some dependencies which results in the build failing. The logs are here: https://gist.github.com/6595a8cbdbf3294a422e

[2016-01-10 16:26] Sturmkater opened #47929 "Error: Empty installation (when trying to upgrade)"
Hi, first thank you for this awesome package manager!!!! It makes OS X feels like home;-)
Today when upgrading I experienced an error. How can I fix it?

Thanks for help!

Output:
brew upgrade
==> Upgrading 9 outdated packages, with result:
caskroom/cask/brew-cask 0.60.0, curl 7.46.0, ffmpeg 2.8.4, gettext 0.19.7, openssl 1.0.2e, pkg-config 0.29, wget 1.17.1, x264 r2601, youtube-dl 2016.01.09
==>

[2016-01-10 16:34] dunn commented on #42249
2.0.1 is now available through Homebrew, thank you all for your patience!

[2016-01-10 16:46] jacqueline-homan commented on #47910
I get `zsh: command not found: psql`

[2016-01-10 16:48] nikz commented on #42249
Yay! Thanks everyone! :smile:

[2016-01-10 17:03] dunn commented on #47910
Try reinstalling; `brew reinstall postgresql`.

[2016-01-10 17:04] jacqueline-homan commented on #47910
I can't run Homebrew. It's not working for me.

[2016-01-10 17:05] jacqueline-homan commented on #47910
`➜  ~  brew reinstall postgresql
==> Reinstalling postgresql
Error: Permission denied - /Library/Caches/Homebrew/Formula/postgresql.brewing
➜  ~
`

[2016-01-10 17:08] dunn commented on #47910
Oh sorry, from the Gist you posted I thought you had resolved the permissions issues.

[2016-01-10 17:09] dunn commented on #47910
Is `brew doctor` still telling you all's well?

[2016-01-10 17:32] jacqueline-homan commented on #47910
Yep

On Sun, Jan 10, 2016 at 12:10 PM, Alex Dunn <notifications@github.com>
wrote:

--

[image: --]
Jacqueline Homan
[image: http://]about.me/jacqueline_homan
<http://about.me/jacqueline_homan>

[2016-01-10 17:33] jacqueline-homan commented on #47910
I mean no. Brew doctor and brew <anything> is NOT working at all for me

On Sun, Jan 10, 2016 at 12:32 PM, Jacqueline Homan <
jacquelinehoman7@gmail.com> wrote:

--

[image: --]
Jacqueline Homan
[image: http://]about.me/jacqueline_homan
<http://about.me/jacqueline_homan>

[2016-01-10 17:37] dunn commented on #47910
What's the output of `brew doctor` now?

[2016-01-10 17:42] jacqueline-homan commented on #47910
I'll have to paste it in a git smile. One moment please...

[2016-01-10 17:42] jacqueline-homan commented on #47910
https://gist.github.com/jacqueline-homan/5bf957e953b4e881a56a#file-output-of-brew-doctor

[2016-01-10 17:43] jacqueline-homan commented on #47910
Now, I have another mac account too (also w/ admin privileges), let me try it there and get the output as well, too.. brb

[2016-01-10 17:46] jacqueline-homan commented on #47910
https://gist.githubusercontent.com/jacqueline-homan/1b06438b4c0801ecf820/raw/8af965168b74d0c803ffa2ace81dc9d7358f6d6c/brew%2520doctor%2520output%2520on%2520other%2520Mac%2520user%2520account%2520(also%2520with%2520admin%2520privileges)

[2016-01-10 17:56] dunn commented on #47910
Run `sudo chown -R $(whoami):admin /usr/local` on the first machine and `brew prune` on the second; if `brew doctor` still gives errors then something's fishy.

[2016-01-10 18:02] aw1621107 commented on #47260
Ping?

[2016-01-10 18:07] mikemcquaid commented on #47260
As said: I'm not sure what's going on here.

[2016-01-10 18:08] aw1621107 commented on #47260
:( Wasn't sure if you meant my question was unclear... Time for some debugging

[2016-01-10 18:16] jacqueline-homan commented on #47910
Here is the admin account one:
![whoami](https://cloud.githubusercontent.com/assets/3537889/12223105/3ef335a8-b79c-11e5-93a2-ae4649c8a5c1.png)

And here is the one from my other Mac user account (which also has admin privileges):
![untitled](https://cloud.githubusercontent.com/assets/3537889/12223109/5e667c6a-b79c-11e5-97ce-2bde0556df45.png)

[2016-01-10 19:08] gaming-hacker commented on #47857
@aw1621107  oh, got to be the pragmas, real tuning.   i've been hacking pragmas for years and can beat any automatic parallelizer.   a compiled python-ish language on steroids

[2016-01-10 19:08] dunn commented on #47910
OK, then `sudo chown -R $(whoami):admin /usr/local` on the second as well.  Can you `brew reinstall postgresql` on the first, now?

[2016-01-10 19:15] jacqueline-homan commented on #47910
I just logged back onto my computer and got this at the prompt:
![shell_login_notworking](https://cloud.githubusercontent.com/assets/3537889/12223404/9380ede2-b7a4-11e5-956c-00355b47791c.png)

So I don't think anything else will work, either.

[2016-01-10 19:16] aw1621107 commented on #47857
@gaming-hacker Could you elaborate? I'm not quite understanding what you're getting at

[2016-01-10 19:23] jacqueline-homan commented on #47910
And here is what happened after trying to do what you said:

https://gist.github.com/jacqueline-homan/2645d4472d6c01612660

[2016-01-10 19:28] dunn commented on #47910
Looks like it installed fine, and all those broken symlinks will be cleaned out with `brew prune`.

The other error is probably because you have `git` aliased to `hub` but it's not installed: `brew install hub`.

[2016-01-10 19:32] aw1621107 commented on #47260
Alright, it looks like this would happen if `opam` is installed `--with-aspcud`, which is the norm because `aspcud` is recommended. `aspcud` `depends_on "gringo"`, which `depends_on "scons"`.

I found this at line 509 of `formula_installer.rb`:
[code]
I saw the warning in `cmd/sh.rb`; does that still apply? Is there any way around this, or will I have to figure out building LLVM in the standard en

[2016-01-10 19:33] gaming-hacker commented on #47858
@aw1621107 yes it can be on osx, it used to be libc++ but the current version of Xcode 7.2 is to old c++ 4.2.1 ancient, i could be wrong but maybe 10.6??? uses libc++??? don't know
*${$OSX_SDK}/usr/include/c++/4.2.1*

[2016-01-10 19:36] jacqueline-homan commented on #47910
`[~] ruby-2.2.1 $ brew prune
Pruned 3725 symbolic links and 169 directories from /usr/local
[~] ruby-2.2.1 $ brew doctor
Your system is ready to brew.
[~] ruby-2.2.1 $ brew install hub
==> Downloading https://homebrew.bintray.com/bottles/hub-2.2.2.el_capitan.bottle
######################################################################## 100.0%
==> Pouring hub-2.2.2.el_capitan.bottle.tar.gz
==> Cav

[2016-01-10 19:41] dunn commented on #47910
Since you reinstall PSQL it won't be running. Does `postgres -D /usr/local/var/postgres` work?

[2016-01-10 19:57] jacqueline-homan commented on #47910
I did not get a chance to try that yet, I was trying to see if fixing it in the admin Mac account would carry over and fix things in the "jacqueline" Mac user account for home-brew, postgres, and dvm, And apparently it didn't:

Here's from the primary ("admin") Mac account:
https://gist.github.com/jacqueline-homan/7fad3646c94c3bd1587b

and here's from the "jacqueline" Mac account:
https://gist.git

[2016-01-10 19:58] jacqueline-homan commented on #47910
I will now try that last thing you said...

[2016-01-10 20:00] jacqueline-homan commented on #47910
Nope. This is from my primary Mac account (the one called "admin", where I had to set up an Apple ID). And it don't work:
![still not working](https://cloud.githubusercontent.com/assets/3537889/12223642/d1436bae-b7aa-11e5-9137-ff9d9883e1a2.png)

[2016-01-10 20:01] jacqueline-homan commented on #47910
I have no clue how to fix :'(

[2016-01-10 20:36] dunn commented on #47910
PSQL databases usually need to be upgraded after major updates: http://www.postgresql.org/docs/9.5/static/upgrading.html

That's a PostgreSQL issue though, not a Homebrew one, and I'm afraid I don't have the time or expertise to help there.  Let us know if you have further questions about Homebrew!

[2016-01-10 20:36] #47910 closed

[2016-01-10 20:52] gvn commented on #46267
Works great. Thanks for your work, @apjanke !

[2016-01-10 21:12] gaming-hacker commented on #47269
the performance speed is not critical for a compiler but stability, once it's running, you lock it down. gcc-53 still has some link time optimization problems.   i would never trust a build once lib/bin that works, even a broken clock is right at least once a day.

not to get off on a rant... well ok a small rant
i've had to seriously use debug mode because builds have been to me substandard, i kn

[2016-01-10 21:15] mikemcquaid commented on #47269
Can you take this conversation to the mailing list or IRC channel, thanks.

[2016-01-10 21:17] mikemcquaid commented on #47269
Please don't bitch here, thanks. If there's issues: submit pull-requests to fix them. If you want to just talk about Homebrew: do so on a mailing list. If you want to complain without helping us fix the problems: please don't.

[2016-01-10 21:22] gaming-hacker commented on #47269
are you insane, i just told you how to fix the problems.  get off your high horse if you can't take criticism.  who made you dictator?
1. regression testing
2. build bot

[2016-01-10 21:26] mikemcquaid commented on #47269
@gaming-hacker Please read our Code of Conduct (https://github.com/Homebrew/homebrew/blob/master/CODEOFCONDUCT.md) before commenting on  Homebrew issues again in future. You're being temporarily blocked from the Homebrew organisation for 24h. If your behaviour continues after that period you'll be blocked permanently.

[2016-01-10 22:30] tsparber commented on #47929
Homebrew-Cask will now be kept up to date together with Homebrew (see https://github.com/caskroom/homebrew-cask/pull/15381 for details).
run `brew uninstall --force brew-cask; brew update` to switch to the new system.

[2016-01-11 00:35] daurnimator commented on #47926
:+1: luarocks 2.3.0 comes with an important OSX change: https://github.com/keplerproject/luarocks/issues/422
This will finally fix my luarocks packages to work with brew without hacks!

[2016-01-11 01:19] adin234 commented on #44004
@apjanke it still doesnt work though.

![screen shot 2016-01-11 at 9 18 54 am](https://cloud.githubusercontent.com/assets/3828145/12225368/6461f2e0-b844-11e5-9ec9-b7e81ebe610d.png)

[2016-01-11 02:03] dunn opened #47943 "failed to update macvim"
_From @lly365 on January 11, 2016 2:0_

$ brew upgrade macvim
==> Upgrading 1 outdated package, with result:
macvim 7.4-89
==> Upgrading macvim
==> Downloading https://github.com/macvim-dev/macvim/archive/snapshot-89.tar.gz
Already downloaded: /Library/Caches/Homebrew/macvim-7.4-89.tar.gz
==> ./configure --with-features=huge --enable-multibyte --with-macarchs=x86_64 -
Last 15 lines from /Users/lin

[2016-01-11 02:03] dunn commented on #47943
@lly365

Please do!

[2016-01-11 03:04] mistydemeo commented on #37837
Yeah, I think that'd be a good idea.

[2016-01-11 03:05] mistydemeo commented on #47905
Looks like it failed here:

[code]

This is definitely being caused by the non-Homebrew ghc you're using, which isn't something we provide support for unfortunately.

[2016-01-11 03:08] mistydemeo commented on #37837
PR at #47944.

[2016-01-11 03:16] duozmo commented on #42804
I hit the same issue today (accidentally trying to build with Anaconda’s Python instead of a brewed Python). Strangely, the `FrameworkPythonRequirement` that was added to `macvim.rb` in 34e9388b602faf13d149bf2d3b4b56ce07481f5f didn’t kick in for me. Evaluating the [`satisfy` block](https://github.com/Homebrew/homebrew/blob/34e9388b602faf13d149bf2d3b4b56ce07481f5f/Library/Formula/macvim.rb#L5-L6) m

[2016-01-11 04:08] uwehermann commented on #46566
Works fine for me as well, thanks!

[2016-01-11 04:09] uwehermann commented on #47556
Cannot reproduce this as of today on 10.6.8, wget builds fine for me after the final fix from #46566.

[2016-01-11 04:13] tdsmith opened #47947 "baresip test is bad"
The baresip test fails (in the sandbox?): http://bot.brew.sh/job/Homebrew%20Pull%20Requests/39804/version=mavericks/testReport/junit/brew-test-bot/mavericks/test_baresip/

[code]

Spotted in #47650.

[2016-01-11 04:23] uwehermann opened #47949 "doxygen fails to build on 10.6.8"
[code]

[2016-01-11 04:26] csstaub commented on #47737
Looks like git-annex can't be built with S3 support right now, due to a version conflict with aws/cereal.

Output from a manual build:
[code]

It's fixed in the aws package, but the release is not on Hackage yet: https://github.com/aristidb/aws/commit/2947748c7d59a50363012aac48ee21adbbde20eb

[2016-01-11 05:42] apjanke commented on #44004
@adin234: Make sure you've done a `brew update` and picked up the latest revision of `srclib.rb`, and that you don't have any local changes that are preventing it from updating. That `f819544216...` revision in your screen shot is from the old pre-#47870 version of the formula.

[2016-01-11 07:35] apjanke commented on #47947
Yeah, it's sandbox. Disabling sandbox lets it pass.

[code]

It only seems to do the autocreation if `baresip -t` or similar has never been run before. Once you've run `baresip -t` as the user once and the file exists, it doesn't try to recreate it, and no sandbox error happens.

Setting `$HOME` doesn't help because it's detecting the config directory location by using `fs_gethome()` from `libre`

[2016-01-11 07:47] DomT4 commented on #42804
Yes, I noticed the Requirement wasn't objecting to Anaconda either when I tested a couple weeks back. Not really sure on the root cause there.

We now have a broad `brew doctor` warning about Anaconda because it does trash so many builds, essentially if people see build problems, try removing it from the `$PATH` temporarily and running the install again.

[2016-01-11 07:47] #47947 closed

[2016-01-11 08:02] mikemcquaid commented on #47737
Thanks @csstaub.

[2016-01-11 08:03] rakkesh commented on #47124
I agree with @dunn on this issue. PKCS#11 in general is not targeted for desktop apps, and also, I'm not sure if upstream is going to support Mac OS X. We can boneyard this formula if you and other Homebrew maintainers don't have an objection. I can take it up after closing GnuTLS 3.4.x [PR](https://github.com/Homebrew/homebrew/pull/47065).

[2016-01-11 08:10] DomT4 commented on #47943
I'm guessing either outdated Xcode/CLT or an Anaconda installation here.

[2016-01-11 08:21] mikemcquaid commented on #47909
I can see the argument both ways here. What does your `conflicts_with` look like: `conflicts_with "formula"` or `conflicts_with "user/tap/formula"`? If it's the latter and that doesn't work: it should be fixed (and, I think, could be relatively easily).

[2016-01-11 08:32] Lee10 opened #47953 "install soft error"
brew cask install caffeine
Error: Cask 'caffeine' definition is invalid: Bad header line: parse failed

brew cask list
Error: Cask 'caffeine' definition is invalid: Bad header line: parse failed

brew cask install caffeine
Error: Cask 'caffeine' definition is invalid: Bad header line: parse failed

[2016-01-11 08:41] mikemcquaid commented on #47953
Please report this to https://github.com/caskroom/homebrew-cask, thanks!

[2016-01-11 08:41] #47953 closed

[2016-01-11 08:50] Lee10 commented on #47953
thanks！

[2016-01-11 12:28] brunowego commented on #42249
:+1:

[2016-01-11 13:02] tdsmith commented on #47947
Awesome, thanks!

[2016-01-11 13:28] manueljordan commented on #47546
@DomT4

Seems something extra is needed it.

[code]

[2016-01-11 13:36] manueljordan commented on #47776
By my side I am going to update to the "El Capitan". It due the message _We're no longer building binary packages for OS X 10.8_

Thanks.

[2016-01-11 13:42] Sturmkater commented on #47929
Thanks!! Works like charm now.

Am 10.01.2016 um 23:30 schrieb Tommy Sparber <notifications@github.com>:

Homebrew-Cask will now be kept up to date together with Homebrew (see caskroom/homebrew-cask#15381 <https://github.com/caskroom/homebrew-cask/pull/15381> for details).
run brew uninstall --force brew-cask; brew update to switch to the new system.

—
Reply to this email directly or view it on G

[2016-01-11 14:19] aw1621107 commented on #47858
Still no response from devs... Going to go ahead and make the patch

[2016-01-11 14:35] aw1621107 commented on #47858
Just making sure, would it be reasonable to assume that the libraries built by Homebrew are not going anywhere? If those libraries can be moved then there really isn't a solution beyond telling the user to set the rpath correctly

[2016-01-11 14:39] aw1621107 commented on #47858
If anything, I think the LLVM devs might be correct, and it's up to us to customize the install for Homebrew...

CMake is configured to set INSTALL_NAME_DIR to "@rpath", and to set the default RPATH to "@executable_path/../lib". This would be the correct settings for the executables built for LLVM, which are placed into the bin folder.

For anything outside of the LLVM install, you would have to a

[2016-01-11 15:04] dg1sbg opened #47960 "Mosquito 1.4.5 failed to build on 10.11.2"
https://gist.github.com/1276b52cacfc720a15bb

[2016-01-11 15:17] bfontaine commented on #41269
Same error on 10.11.2.

[2016-01-11 16:00] bmishkin commented on #42249
:+1:  working great, thanks team

[2016-01-11 16:05] DomT4 commented on #47776
Okay. Yeah, we only build binary packages for the three most recent OS X versions. Will close here, but please feel free to shout if you have any issues on the other side of upgrading.

[2016-01-11 16:05] #47776 closed

[2016-01-11 16:06] DomT4 commented on #47929
Working on making sure this doesn't happen to anyone else upstream with the Caskroom. Will close here though as you've resolved the issue locally.

[2016-01-11 16:06] #47929 closed

[2016-01-11 16:19] CodeMaxx commented on #39014
I'm getting the same error

`bash: declare: -A: invalid option
declare: usage: declare [-afFirtx] [-p] [name[=value] ...]
-bash: complete: -D: invalid option
complete: usage: complete [-abcdefgjksuv] [-pr] [-o option] [-A action] [-G globpat] [-W wordlist] [-P prefix] [-S suffix] [-X filterpat] [-F function] [-C command] [name ...]`

Can I get help on this? I'm using OS X.
Used `brew install bash`

[2016-01-11 16:23] bfontaine commented on #39014
@CodeMaxx Please open a new issue.

[2016-01-11 16:28] CodeMaxx opened #47965 "bash-completion compopt :command not found"
I'm getting this error while using TAB autocomplete on bash.

Additionally when I tried `brew install bash` and `chsh -s /usr/local/bin/bash` I started getting this whenever the .bash_profile file got executed.
[code]

[2016-01-11 16:39] bfontaine commented on #47965
Did you try changing your login shell in your terminal emulator as mentioned in https://github.com/Homebrew/homebrew/issues/39014#issuecomment-96438971?

[2016-01-11 16:39] bfontaine commented on #47965
Do you have an error if you try `/usr/local/bin/bash -c 'declare -A'`?

[2016-01-11 16:42] CodeMaxx commented on #47965
I get
[code]
on
`/usr/local/bin/bash -c 'declare -A'`

[2016-01-11 16:44] bfontaine commented on #47965
That’s the normal output. It means that if you used `/usr/local/bin/bash` you shouldn’t get that error, which itself means you’re *not* using `/usr/local/bin/bash` as your login shell :wink:

Did you restart your shell after running `chsh -s /usr/local/bin/bash`?

[2016-01-11 16:44] CodeMaxx commented on #47965
@bfontaine  Thanxx! Changing it in the terminal emulator did work.

[2016-01-11 16:45] bfontaine commented on #47965
Great! :smile:

[2016-01-11 16:45] #47965 closed

[2016-01-11 17:40] #37837 closed

[2016-01-11 18:01] infusion opened #47970 "brew update fails on OSX 10.11.2"
Hi,

a few weeks ago `brew update` started to fail, after working perfectly for almost two years now. `brew upgrade` however works fine.

[code]

This is the error I get:

[code]

Is this a known error?

[2016-01-11 18:38] dunn commented on #47124
Unless other maintainers disagree, :skull:

[2016-01-11 18:57] RandomDSdevel commented on #47269
@UniqMartin:

Sound like a good idea to me!
<hr />
@gaming-hacker:

Given what @aw1621107 said on the subject, …:

…I'm inclined to agree with him on this at first glance.  If it's really that important to you, please open either a new issue concerning these flags, a new issue at my LLVM tap once I get that set up, or both.  I might look into it anyway since it has to do with build configuration f